<div style="width: 100%; max-width: 900px; margin: 0 auto; border: 2px solid #0E2431; font-family: Roboto, sans-serif;"
     id="email">
    <div style="background: #0E2431; padding: 25px 0; text-align: center;" id="topbar"><a target="_blank"
                                                                                          href="{{web_url}}"><img
            style="height: 100%; width: auto; max-width: 100%; max-height: 50px;" class="logo" src="{{logo}}"></a></div>
    <div style="color: rgb(29, 29, 29); padding: 30px 60px;">

        <p> You have Received a new Booking</p>

         <p>Service Name : {{service_names}}</p>

         <p>Timing : {{timing}}</p>
         <p>Date : {{date}}</p>

    </div>
    <div style="color: white; background: #0E2431; padding: 20px 0; text-align: center;" id="footer"><span>&copy; {{year}} - {{name}}</span>
    </div>
</div>
