*,
body {
	font-family: 'Poppins', sans-serif;
}

body {
	overflow-x: hidden;
	background: white;
	font-size: 14px;
}

html,
body {
	height: 100%;
}

body,
p,
form,
input,
h1,
h2,
h3,
h4,
h5,
h6,
p,
form,
ul,
li,
ol,
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
	font-family: 'Poppins', sans-serif;
	color: black;
}

a {
	color: black;
	text-decoration: none;
	font-family: 'Poppins', sans-serif;
}

a:hover,
a:focus,
a:active {
	text-decoration: none;
	color: #cf9c67;
}

button,
a,
input,
textarea {
	outline: 0 !important;
}

/* Margin */
.m-all-0 {
	margin: 0px !important;
}

.m-all-10 {
	margin: 10px !important;
}

.m-all-20 {
	margin: 20px !important;
}

.m-all-30 {
	margin: 30px !important;
}

.m-all-40 {
	margin: 40px !important;
}

.m-l-0 {
	margin-left: 0px !important;
}

.m-r-0 {
	margin-right: 0px !important;
}

.m-t-0 {
	margin-top: 0px !important;
}

.m-b-0 {
	margin-bottom: 0px !important;
}

.m-l-1 {
	margin-left: 1px !important;
}

.m-l-2 {
	margin-left: 2px !important;
}

.m-l-3 {
	margin-left: 3px !important;
}

.m-l-4 {
	margin-left: 4px !important;
}

.m-l-5 {
	margin-left: 5px !important;
}

.m-l-6 {
	margin-left: 6px !important;
}

.m-l-7 {
	margin-left: 7px !important;
}

.m-l-8 {
	margin-left: 8px !important;
}

.m-l-9 {
	margin-left: 9px !important;
}

.m-r-1 {
	margin-right: 1px !important;
}

.m-r-2 {
	margin-right: 2px !important;
}

.m-r-3 {
	margin-right: 3px !important;
}

.m-r-4 {
	margin-right: 4px !important;
}

.m-r-5 {
	margin-right: 5px !important;
}

.m-r-6 {
	margin-right: 6px !important;
}

.m-r-7 {
	margin-right: 7px !important;
}

.m-r-8 {
	margin-right: 8px !important;
}

.m-r-9 {
	margin-right: 9px !important;
}

.m-t-1 {
	margin-top: 1px !important;
}

.m-t-2 {
	margin-top: 2px !important;
}

.m-t-3 {
	margin-top: 3px !important;
}

.m-t-4 {
	margin-top: 4px !important;
}

.m-t-5 {
	margin-top: 5px !important;
}

.m-t-6 {
	margin-top: 6px !important;
}

.m-t-7 {
	margin-top: 7px !important;
}

.m-t-8 {
	margin-top: 8px !important;
}

.m-t-9 {
	margin-top: 9px !important;
}

.m-b-1 {
	margin-bottom: 1px !important;
}

.m-b-2 {
	margin-bottom: 2px !important;
}

.m-b-3 {
	margin-bottom: 3px !important;
}

.m-b-4 {
	margin-bottom: 4px !important;
}

.m-b-5 {
	margin-bottom: 5px !important;
}

.m-b-6 {
	margin-bottom: 6px !important;
}

.m-b-7 {
	margin-bottom: 7px !important;
}

.m-b-8 {
	margin-bottom: 8px !important;
}

.m-b-9 {
	margin-bottom: 9px !important;
}

.m-l-10 {
	margin-left: 10px !important;
}

.m-r-10 {
	margin-right: 10px !important;
}

.m-t-10 {
	margin-top: 10px !important;
}

.m-b-10 {
	margin-bottom: 10px !important;
}

.m-l-15 {
	margin-left: 15px !important;
}

.m-r-15 {
	margin-right: 15px !important;
}

.m-t-15 {
	margin-top: 15px !important;
}

.m-b-15 {
	margin-bottom: 15px !important;
}

.m-l-20 {
	margin-left: 20px !important;
}

.m-r-20 {
	margin-right: 20px !important;
}

.m-t-20 {
	margin-top: 20px !important;
}

.m-b-20 {
	margin-bottom: 20px !important;
}

.m-l-25 {
	margin-left: 25px !important;
}

.m-r-25 {
	margin-right: 25px !important;
}

.m-t-25 {
	margin-top: 25px !important;
}

.m-b-25 {
	margin-bottom: 25px !important;
}

.m-l-30 {
	margin-left: 30px !important;
}

.m-r-30 {
	margin-right: 30px !important;
}

.m-t-30 {
	margin-top: 30px !important;
}

.m-b-30 {
	margin-bottom: 30px !important;
}

.m-l-35 {
	margin-left: 35px !important;
}

.m-r-35 {
	margin-right: 35px !important;
}

.m-t-35 {
	margin-top: 35px !important;
}

.m-b-35 {
	margin-bottom: 35px !important;
}

.m-l-40 {
	margin-left: 40px !important;
}

.m-r-40 {
	margin-right: 40px !important;
}

.m-t-40 {
	margin-top: 40px !important;
}

.m-b-40 {
	margin-bottom: 40px !important;
}

.m-l-45 {
	margin-left: 45px !important;
}

.m-r-45 {
	margin-right: 45px !important;
}

.m-t-45 {
	margin-top: 45px !important;
}

.m-b-45 {
	margin-bottom: 45px !important;
}

.m-l-50 {
	margin-left: 40px !important;
}

.m-r-50 {
	margin-right: 40px !important;
}

.m-t-50 {
	margin-top: 40px !important;
}

.m-b-50 {
	margin-bottom: 40px !important;
}

/* Padding */
.p-all-0 {
	padding: 0px !important;
}

.p-all-10 {
	padding: 10px !important;
}

.p-all-20 {
	padding: 20px !important;
}

.p-all-30 {
	padding: 30px !important;
}

.p-all-40 {
	padding: 40px !important;
}

.p-l-0 {
	padding-left: 0px !important;
}

.p-r-0 {
	padding-right: 0px !important;
}

.p-t-0 {
	padding-top: 0px !important;
}

.p-b-0 {
	padding-bottom: 0px !important;
}

.p-l-1 {
	padding-left: 1px !important;
}

.p-l-2 {
	padding-left: 2px !important;
}

.p-l-3 {
	padding-left: 3px !important;
}

.p-l-4 {
	padding-left: 4px !important;
}

.p-l-5 {
	padding-left: 5px !important;
}

.p-l-6 {
	padding-left: 6px !important;
}

.p-l-7 {
	padding-left: 7px !important;
}

.p-l-8 {
	padding-left: 8px !important;
}

.p-l-9 {
	padding-left: 9px !important;
}

.p-r-1 {
	padding-right: 1px !important;
}

.p-r-2 {
	padding-right: 2px !important;
}

.p-r-3 {
	padding-right: 3px !important;
}

.p-r-4 {
	padding-right: 4px !important;
}

.p-r-5 {
	padding-right: 5px !important;
}

.p-r-6 {
	padding-right: 6px !important;
}

.p-r-7 {
	padding-right: 7px !important;
}

.p-r-8 {
	padding-right: 8px !important;
}

.p-r-9 {
	padding-right: 9px !important;
}

.p-t-1 {
	padding-top: 1px !important;
}

.p-t-2 {
	padding-top: 2px !important;
}

.p-t-3 {
	padding-top: 3px !important;
}

.p-t-4 {
	padding-top: 4px !important;
}

.p-t-5 {
	padding-top: 5px !important;
}

.p-t-6 {
	padding-top: 6px !important;
}

.p-t-7 {
	padding-top: 7px !important;
}

.p-t-8 {
	padding-top: 8px !important;
}

.p-t-9 {
	padding-top: 9px !important;
}

.p-b-1 {
	padding-bottom: 1px !important;
}

.p-b-2 {
	padding-bottom: 2px !important;
}

.p-b-3 {
	padding-bottom: 3px !important;
}

.p-b-4 {
	padding-bottom: 4px !important;
}

.p-b-5 {
	padding-bottom: 5px !important;
}

.p-b-6 {
	padding-bottom: 6px !important;
}

.p-b-7 {
	padding-bottom: 7px !important;
}

.p-b-8 {
	padding-bottom: 8px !important;
}

.p-b-9 {
	padding-bottom: 9px !important;
}

.p-l-10 {
	padding-left: 10px !important;
}

.p-r-10 {
	padding-right: 10px !important;
}

.p-t-10 {
	padding-top: 10px !important;
}

.p-b-10 {
	padding-bottom: 10px !important;
}

.p-l-15 {
	padding-left: 15px !important;
}

.p-r-15 {
	padding-right: 15px !important;
}

.p-t-15 {
	padding-top: 15px !important;
}

.p-b-15 {
	padding-bottom: 15px !important;
}

.p-l-20 {
	padding-left: 20px !important;
}

.p-r-20 {
	padding-right: 20px !important;
}

.p-t-20 {
	padding-top: 20px !important;
}

.p-b-20 {
	padding-bottom: 20px !important;
}

.p-l-25 {
	padding-left: 25px !important;
}

.p-r-25 {
	padding-right: 25px !important;
}

.p-t-25 {
	padding-top: 25px !important;
}

.p-b-25 {
	padding-bottom: 25px !important;
}

.p-l-30 {
	padding-left: 30px !important;
}

.p-r-30 {
	padding-right: 30px !important;
}

.p-t-30 {
	padding-top: 30px !important;
}

.p-b-30 {
	padding-bottom: 30px !important;
}

.p-l-35 {
	padding-left: 35px !important;
}

.p-r-35 {
	padding-right: 35px !important;
}

.p-t-35 {
	padding-top: 35px !important;
}

.p-b-35 {
	padding-bottom: 35px !important;
}

.p-l-40 {
	padding-left: 40px !important;
}

.p-r-40 {
	padding-right: 40px !important;
}

.p-t-40 {
	padding-top: 40px !important;
}

.p-b-40 {
	padding-bottom: 40px !important;
}

.p-l-45 {
	padding-left: 45px !important;
}

.p-r-45 {
	padding-right: 45px !important;
}

.p-t-45 {
	padding-top: 45px !important;
}

.p-b-45 {
	padding-bottom: 45px !important;
}

.p-l-50 {
	padding-left: 50px !important;
}

.p-r-50 {
	padding-right: 50px !important;
}

.p-t-50 {
	padding-top: 50px !important;
}

.p-b-50 {
	padding-bottom: 50px !important;
}

.border-left-none {
	border-left: none !important;
}

.border-right-none {
	border-right: none !important;
}

.border-top-none {
	border-top: none !important;
}

.border-bottom-none {
	border-bottom: none !important;
}

.border-all-none {
	border: none !important;
}

.cursor-pointer {
	cursor: pointer;
}

.form-control,
.btn.focus,
.btn:focus,
.custom-select:focus,
.form-control:focus {
	box-shadow: none;
}

.form-control:focus {
	box-shadow: none;
}

.btn-secondary:not(:disabled):not(.disabled).active:focus,
.btn-secondary:not(:disabled):not(.disabled):active:focus,
.show > .btn-secondary.dropdown-toggle:focus {
	box-shadow: none;
}

.custom-checkbox .custom-control-label:before,
.custom-control-input:focus ~ .custom-control-label:before {
	border-radius: 0;
	box-shadow: none;
}

.custom-checkbox .custom-control-input:checked ~ .custom-control-label::before {
	background-color: #cf9c67;
}

.positionRelative {
	position: relative;
}
.customFormButton {
	min-height: 50px;
}

.endUserBody {
	background: #f9f9f9;
}

.form-control.is-valid {
	box-shadow: 0 0 0 0.2rem rgba(40, 167, 69, 0.25) !important;
}

.form-control.is-invalid {
	box-shadow: 0 0 0 0.2rem rgba(220, 53, 69, 0.25) !important;
}

a {
	transition: all 0.2s ease-in-out;
}

a.colorRedish {
	color: #cf9c67;
}

a.colorRedish:hover,
a.colorRedish:focus {
	color: black;
}

.img-responsivee {
	max-width: 100%;
	height: auto;
}

/* Start header */

.headerMain .headerMainInner {
	padding: 0 0;
	position: relative;
	/*Menu Css*/
}

.headerMain .headerMainInner .logo img {
}

.headerMain .headerMainInner .stickyLogo {
	display: none;
}
.headerMain .headerMainInner .stickyLogo img {
	width: 80px;
}

.headerMain .headerMainInner .navbar {
	padding: 0;
}

@media only screen and (max-width: 992px) {
	/*.headerMain .headerMainInner .mainMenu {
    overflow-x: hidden;
    overflow-y: visible !important;
  }*/
}

.headerMain .headerMainInner .mainMenu ul {
	margin: 0;
	margin-right: -13px;
	padding: 0;
	list-style: outside none none;
}

@media only screen and (max-width: 992px) {
	.headerMain .headerMainInner .mainMenu ul {
		text-align: left;
		position: absolute;
		z-index: 999;
		top: 100%;
		left: 0;
		visibility: hidden;
		width: 100%;
		transition: all 0.34s ease-in-out;
		opacity: 0;
		border: none;
		background: #ececec;
		filter: alpha(opacity=0);
	}
}

@media only screen and (max-width: 992px) {
	.headerMain .headerMainInner .mainMenu ul.show {
		top: 100%;
		visibility: visible;
		opacity: 1;
		filter: alpha(opacity=100);
		padding: 20px 0;
	}
}

@media only screen and (max-width: 992px) {
	.headerMain .headerMainInner .mainMenu ul.show li a {
		color: #343a40;
	}
}

.headerMain .headerMainInner .mainMenu ul.show li.active a {
	color: #cf9c67;
}

.headerMain .headerMainInner .mainMenu ul li {
	position: relative;
	display: inline-block;
}

@media only screen and (max-width: 992px) {
	.headerMain .headerMainInner .mainMenu ul li {
		display: block;
	}
}

.headerMain .headerMainInner .mainMenu ul li a {
	font-size: 14px;
	display: block;
	padding: 0 10px;
	transition: all 0.34s ease-in-out;
	text-transform: uppercase;
	color: #f5f5f5;
}

@media only screen and (max-width: 1200px) {
	.headerMain .headerMainInner .mainMenu ul li a {
		padding: 0 5px;
	}
}

@media only screen and (max-width: 992px) {
	.headerMain .headerMainInner .mainMenu ul li a {
		padding: 8px 20px;
	}
}

.headerMain .headerMainInner .mainMenu ul li a:hover,
.headerMain .headerMainInner .mainMenu ul li a:focus {
	text-decoration: none;
	outline: none;
}

.headerMain .headerMainInner .mainMenu ul li a:hover {
	color: #ffaf5b;
}

.headerMain .headerMainInner .mainMenu ul li.active a {
	color: #ffaf5b;
}

@media only screen and (max-width: 992px) {
	.headerMain .headerMainInner .mainMenu ul li:hover a {
		color: #cf9c67;
		background: white;
	}
}

.headerMain .headerMainInner .mainMenu .mobile-menu {
	display: none;
}

@media only screen and (max-width: 992px) {
	.headerMain .headerMainInner .mainMenu .mobile-menu {
		display: block;
		text-align: center;
	}
}

.headerMain .headerMainInner .mainMenu .mobile-menu .menu-click {
	position: static;
	width: 50px;
	height: 40px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	cursor: pointer;
}

@media only screen and (max-width: 639px) {
	.headerMain .headerMainInner .mainMenu .mobile-menu .menu-click {
		width: 30px;
		height: 20px;
	}
}

.headerMain .headerMainInner .mainMenu .mobile-menu .menu-click span {
	display: block;
	width: 35px;
	height: 4px;
	margin-bottom: 7px;
	background: white;
}

@media only screen and (max-width: 992px) {
	.headerMain .headerMainInner .mainMenu .mobile-menu .menu-click span {
		background: #cf9c67;
	}
}

@media only screen and (max-width: 639px) {
	.headerMain .headerMainInner .mainMenu .mobile-menu .menu-click span {
		height: 2px;
		margin-bottom: 6px;
	}
}

.headerMain
	.headerMainInner
	.mainMenu
	.mobile-menu
	.menu-click
	span:last-child {
	margin: 0;
}

@media only screen and (max-width: 992px) {
	.headerMain .headerMainInner .main-menu > ul > li:hover:before,
	.headerMain .headerMainInner .main-menu > ul > li:hover:after,
	.headerMain .headerMainInner .main-menu > ul > li.active:before,
	.headerMain .headerMainInner .main-menu > ul > li.active:after {
		visibility: hidden;
		opacity: 0;
		-ms-filter: 'progid:DXImageTransform.Microsoft.Alpha(Opacity=0)';
		filter: alpha(opacity=0);
	}
}

.headerMain .headerMainInner.headerMainSticky,
.headerMain .headerMainInner.headerMainStick {
	position: fixed;
	z-index: 99;
	top: 0;
	left: 0;
	width: 100%;
	background: white;
	box-shadow: 0 1px 10px 0 rgba(52, 58, 64, 0.1);
}

.headerMain .headerMainInner.headerMainSticky .stickyLogo,
.headerMain .headerMainInner.headerMainStick .stickyLogo {
	display: block;
}

.headerMain .headerMainInner.headerMainSticky .brandLogo,
.headerMain .headerMainInner.headerMainStick .brandLogo {
	display: none;
}

.headerMain .headerMainInner.headerMainSticky .mainMenu ul li a,
.headerMain .headerMainInner.headerMainStick .mainMenu ul li a {
	color: #b7b7b7;
}

.headerMain .headerMainInner.headerMainSticky .mainMenu ul li a:hover,
.headerMain .headerMainInner.headerMainStick .mainMenu ul li a:hover {
	color: #ffaf5b;
}

.headerMain .headerMainInner.headerMainSticky .mainMenu ul li.active a,
.headerMain .headerMainInner.headerMainStick .mainMenu ul li.active a {
	color: #ffaf5b;
}

.headerMain .headerMainInner.headerMainSticky .mainMenu .menu-click span,
.headerMain .headerMainInner.headerMainStick .mainMenu .menu-click span {
	background: #cf9c67;
}

.headerMain .headerMainInner .loginBtn {
	margin-left: 30px;
}

@media only screen and (max-width: 639px) {
	.headerMain .headerMainInner .loginBtn {
		margin-left: 20px;
	}
}

.headerMain .headerMainInner .loginBtn.dropdown-toggle:after {
	border-top: 5px solid;
	border-right: 5px solid transparent;
	border-left: 5px solid transparent;
	margin-right: -10px;
	margin-left: 10px;
	vertical-align: 2px;
}

.headerMain .headerMainInner .loginBtn:hover {
	color: black;
}

/* End header */
/* Start mainSection */
.mainSection {
	/*padding: 340px 0 0 0;*/
	padding: 110px 0 0 0;
	position: relative;
	/*background: url(../images/slider/1.jpg) no-repeat;
  background-size: 100%;
  min-height: calc(100% - 0px);*/
}

.mainSection .container {
	position: relative;
	z-index: 1;
}
/* Start mainSection */
/*.mainSection:after {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.8);
}*/

.map-area iframe {
	height: 200px !important;
}
@media only screen and (max-width: 992px) {
	.blog-area-page .section {
		padding: 15px 0;
	}
}
.blog-item {
	align-items: center;
}
.blog-item .img-box {
	height: 300px;
	overflow: hidden;
}

@media only screen and (max-width: 1366px) {
	.mainSection {
		padding: 95px 0 0 0;
	}
}
@media only screen and (max-width: 1200px) {
	.mainSection {
		background-size: 130%;
		min-height: calc(100% - 72px);
	}
}

@media only screen and (max-width: 992px) {
	.mainSection {
		background: none;
		height: auto;
		padding: 110px 0 30px 0;
		min-height: 100%;
	}
}
@media only screen and (max-width: 768px) {
	.mainSection {
		padding: 0 0 30px 0;
	}
}

.mainSection.endUser {
	height: auto;
	background: none;
	padding: 100px 0 40px;
}

.mainSection.loginPages {
	height: auto;
	padding: 100px 0 40px;
}

.mainSection .mainSectionRowHeight {
	height: 100vh;
}

@media only screen and (max-width: 992px) {
	.mainSection .mainSectionRowHeight {
		height: auto;
		padding: 50px 0 0 0;
	}
}

.mainSection h1 {
	color: #fff;
	font-size: 60px;
	font-family: 'Playfair Display', serif;
	font-weight: 400;
	margin: 0 0 45px;
}
.mainSection h1 span {
	color: #cf9c67;
	font-family: 'Playfair Display', serif;
}

@media only screen and (max-width: 992px) {
	.mainSection h1 {
		text-align: center;
		font-size: 50px;
	}
}

@media only screen and (max-width: 1366px) {
	.mainSection h1 {
		font-size: 60px;
		line-height: 72px;
		margin: 80px 0 0;
	}
}

@media only screen and (max-width: 639px) {
	.mainSection h1 {
		font-size: 40px;
		line-height: 54px;
		margin: 30px 0 22px;
	}
}

@media only screen and (max-width: 992px) {
	.mainSection h1 br {
		display: none;
	}
}

.mainSection h1.loginSignupTitle {
	font-size: 40px;
	text-align: center;
	line-height: initial;
}

@media only screen and (max-width: 1366px) {
	.mainSection h1.loginSignupTitle {
		margin: 0;
	}
}

.mainSection p {
	font-size: 24px;
	color: #fff;
	margin: 0 0 50px;
}

@media only screen and (max-width: 992px) {
	.mainSection p {
		text-align: center;
	}
}

@media only screen and (max-width: 639px) {
	.mainSection p {
		font-size: 14px;
		margin-bottom: 20px;
	}
}

.mainSection p.loginSignupSubTitle {
	font-size: 15px;
	line-height: 25px;
	margin: 10px 0 5px;
	text-align: center;
}

.mainSection .pagesText {
	font-size: 14px;
	padding: 0 30px;
}

@media only screen and (max-width: 992px) {
	.mainSection .pagesText {
		padding: 0;
	}
}

.mainSection .pagesText p {
	font-size: 14px;
	line-height: initial;
	margin-bottom: 15px;
	color: #343a40;
}

@media only screen and (max-width: 992px) {
	.mainSection .pagesText p {
		text-align: left;
	}
}

@media only screen and (max-width: 639px) {
	.mainSection .pagesText p {
		font-size: 13px;
	}
}

.mainSection .pagesText ul li {
	color: #343a40;
}

.mainSection .pagesText h4 {
	font-size: 18px;
}

.mainSection .selectionBoxMain {
	margin-bottom: 20px;
	padding: 25px;
	background-color: white;
	box-shadow: 0 10px 30px 0 rgba(0, 0, 0, 0.1);
	position: relative;
	z-index: 1;
	background: #fff url(../images/info/bg-1.jpg) center center repeat;
}

@media only screen and (max-width: 992px) {
	.mainSection .selectionBoxMain.signupSec {
		margin: 70px 0;
	}
}

.mainSection .selectionBoxMain .formDataMain {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: initial;
}

.mainSection .selectionBoxMain .singleInput {
	position: relative;
	border: 1px solid rgba(0, 0, 0, 0.1);
	border-radius: 0px;
	background: none;
	box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.1);
	color: rgba(0, 0, 0, 0.8);
}

.mainSection .selectionBoxMain .singleInput input {
	border: none;
	height: 45px;
}

.mainSection .selectionBoxMain .singleInput select {
	font-size: 16px;
	height: 53px;
	padding-left: 48px;
	border: none;
	background: none;
	cursor: pointer;
	position: relative;
	z-index: 1;
}

.mainSection .selectionBoxMain .singleInput .iconbadge {
	position: absolute;
	top: 50%;
	left: 20px;
	transform: translateY(-50%);
	color: rgba(0, 0, 0, 0.8);
	font-size: 19px;
	margin-top: 2px;
}

.mainSection .selectionBoxMain .singleInput .iconArrow {
	position: absolute;
	top: 50%;
	right: 20px;
	transform: translateY(-50%);
	color: rgba(0, 0, 0, 0.8);
	font-size: 19px;
}

.mainSection .selectionBoxMain .singleInputform {
	position: relative;
	border: 1px solid rgba(0, 0, 0, 0.1);
	border-radius: 5px;
	background: none;
	box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.1);
	color: rgba(0, 0, 0, 0.8);
}

.mainSection .selectionBoxMain .singleInputform input {
	border: none;
}

.mainSection .selectionBoxMain .singleInputform select {
	font-size: 16px;
	height: 45px;
	padding-left: 35px;
	border: none;
	background: none;
	cursor: pointer;
	position: relative;
	z-index: 1;
}

.mainSection .selectionBoxMain .singleInputform .iconbadge {
	position: absolute;
	top: 50%;
	left: 12px;
	transform: translateY(-50%);
	color: rgba(0, 0, 0, 0.8);
	font-size: 16px;
	margin-top: 2px;
}

.mainSection .selectionBoxMain .singleInputform .iconArrow {
	position: absolute;
	top: 50%;
	right: 12px;
	transform: translateY(-50%);
	color: rgba(0, 0, 0, 0.8);
	font-size: 19px;
}

.mainSection .selectionBoxMain .btnPlusMinus {
	border-radius: 0px;
	background: #f1f4f6;
}

.mainSection .selectionBoxMain .btnPlusMinus.btn-decrement {
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
}

.mainSection .selectionBoxMain .btnPlusMinus.btn-increment {
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
}

.mainSection .selectionBoxMain .calendarClickMenu {
	position: relative;
	z-index: 2;
}

.mainSection .selectionBoxMain .calendarClickMenu .calendarInnerText {
	line-height: 53px;
	color: rgba(0, 0, 0, 0.8);
	font-size: 16px;
	padding: 0 18px;
	cursor: text;
}
.mainSection .selectionBoxMain .calendarClickMenu .calendarInnerText input {
	height: 53px;
}

.mainSection .selectionBoxMain .calendarClickMenu .calendarInnerText i {
	font-size: 19px;
	vertical-align: -2px;
	margin-right: 8px;
}

.mainSection .selectionBoxMain .calendarClickMenu .calendarClickMenuInner {
	display: none;
	position: absolute;
	left: 0;
	top: 100%;
	width: 100%;
	border: 1px solid rgba(0, 0, 0, 0.1);
	border-radius: 10px;
	box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.1);
}

.mainSection .selectionBoxMain .calendarClickMenu .calendarClickMenuInner.show {
	display: block;
}

.mainSection .selectionBoxMain .formSubmitBtn {
	text-align: center;
	font-size: 21px;
	line-height: 40px;
	margin-top: 20px;
	padding: 0.375rem 0.75rem;
	border-radius: 0;
}

.mainSection .selectionBoxMain .loginGoSignup {
	padding: 30px 0 0 0;
	color: #545454;
	text-align: center;
	font-size: 15px;
}

.mainSection .selectionBoxMain .loginGoSignup a {
	background: #cf9c67;
	padding: 2px 8px;
	color: white;
}

.mainSection .selectionBoxMain .loginGoSignup a:hover {
	background: black;
}

.vanilla-calendar .vanilla-calendar-week {
	background-color: #343a40;
}

.vanilla-calendar .vanilla-calendar-week span {
	font-size: 11px;
	font-weight: 400;
	padding: 7px 0;
	border-right: rgba(255, 255, 255, 0.2) 1px solid;
	letter-spacing: 1px;
}

.vanilla-calendar .vanilla-calendar-date--selected {
	background-color: #343a40;
}

/* End mainSection */
/* Start ourServicesSection */
.serviceInfoMain .serviceInfoicon {
	font-size: 1.7em;
	color: #cf9c67;
	margin-right: 14px;
	margin-top: 5px;
}

.serviceInfoMain .serviceInfoHeading {
	font-size: 13px;
	font-weight: 300;
	margin-bottom: 0;
	line-height: 1;
	text-align: left;
}

.serviceInfoMain .booknowBtn {
	text-align: center;
	font-size: 18px;
	line-height: 35px;
	margin-top: 10px;
	padding: 5px 20px;
	width: 100%;
}

.serviceInfoMain .serviceInfoValue {
	font-size: 16px;
	text-align: left;
}

.serviceInfoMain h4 {
	font-size: 24px;
	font-weight: 700;
	text-align: left;
	margin: 0 30px 20px;
	text-transform: capitalize;
}

@media only screen and (max-width: 992px) {
	.serviceInfoMain h4 {
		margin: 0 15px 10px;
		font-size: 20px;
		font-weight: 600;
	}
}

.serviceInfoMain p {
	font-size: 14px;
	line-height: 26px;
	margin: 0;
	padding: 0;
}
.serviceInfoMain:hover .servicesThumb img {
	animation: pulse 400ms ease-in-out;
}

/* End ourServicesSection */
/* Start gallerySection */
.gallerySection {
	padding: 120px 0;
	background: url(../images/albumBg.png) center center no-repeat;
	background-size: 100% 100%;
	/*Portfolio Css*/
}

@media only screen and (max-width: 1024px) {
	.gallerySection {
		background-image: linear-gradient(0deg, #880f37 0%, #c60854 100%);
		padding: 50px 0;
	}
}

.gallerySection .galleryTitlesSection {
	text-align: center;
}

.gallerySection .galleryTitlesSection h2 {
	font-size: 60px;
	font-weight: 700;
	margin: 0 0 20px;
	text-transform: capitalize;
	color: white;
}

@media only screen and (max-width: 992px) {
	.gallerySection .galleryTitlesSection h2 {
		font-size: 50px;
	}
}

@media only screen and (max-width: 639px) {
	.gallerySection .galleryTitlesSection h2 {
		font-size: 40px;
	}
}

.gallerySection .galleryTitlesSection p {
	font-size: 16px;
	line-height: 26px;
	color: white;
}

@media only screen and (max-width: 992px) {
	.gallerySection .galleryTitlesSection p {
		font-size: 14px;
		font-weight: 300;
	}
}

.gallerySection .filterList {
	margin: 0;
	margin-bottom: 38px;
	padding: 0;
	list-style: none;
	text-align: center;
}

.gallerySection .filterList li {
	font-size: 14px;
	font-weight: 600;
	position: relative;
	z-index: 1;
	display: inline-block;
	margin-right: 10px;
	padding: 17px 31px;
	cursor: pointer;
	transition: all 0.2s ease-in-out;
	text-transform: uppercase;
	color: white;
	border: 1px solid rgba(255, 255, 255, 0.2);
	border-radius: 5px;
	background-color: rgba(200, 54, 101, 0.5);
	box-shadow: 0 13px 40px 0 rgba(0, 0, 0, 0.2);
}

@media only screen and (max-width: 1200px) {
	.gallerySection .filterList li {
		padding: 14px 20px;
	}
}

@media only screen and (max-width: 992px) {
	.gallerySection .filterList li {
		margin: 5px;
	}
}

.gallerySection .filterList li.active,
.gallerySection .filterList li:hover {
	border: 1px solid transparent;
	background-color: transparent;
	color: black;
}

.gallerySection .filterList li.active:after,
.gallerySection .filterList li:hover:after {
	position: absolute;
	z-index: -1;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	content: '';
	transition: all 0.2s ease-in-out;
	border-radius: 5px;
	background-image: linear-gradient(90deg, #dba80e 0%, #cf9c67 100%);
}

.gallerySection .filterList li:last-child {
	margin-right: 0;
}

.gallerySection .portfolioBox {
	position: relative;
	z-index: 1;
	height: 260px;
	margin-bottom: 30px;
	border-radius: 5px;
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
}

.gallerySection .portfolioBox .portfolioBoxInnerContent {
	position: absolute;
	bottom: 15px;
	left: 0;
	width: 100%;
	text-align: center;
}

.gallerySection .portfolioBox .portfolioBoxInnerContent h6 {
	font-size: 18px;
	color: white;
}

.gallerySection .portfolioBox .portfolioBoxInnerContent p {
	color: white;
}

.gallerySection .portfolioBox .portfolioBoxInnerContent p span {
	font-size: 14px;
	color: white;
}

.gallerySection .portfolioBox:after {
	position: absolute;
	z-index: -1;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	content: '';
	border-radius: 5px;
	background-image: linear-gradient(
		360deg,
		black 0%,
		rgba(0, 0, 0, 0.58) 36%,
		rgba(255, 255, 255, 0) 100%,
		white 100%
	);
}

/* End gallerySection */
/* Start contactSection */
.contactSection {
	position: relative;
	z-index: 1;
	background: url(../images/dotbg.png) center center no-repeat;
	background-size: contain;
	padding: 85px 0;
}

.contactSection h2 {
	font-size: 60px;
	font-weight: 700;
	margin: 0 0 20px;
	text-transform: capitalize;
}

@media only screen and (max-width: 992px) {
	.contactSection h2 {
		font-size: 50px;
		text-align: center;
	}
}

@media only screen and (max-width: 639px) {
	.contactSection h2 {
		font-size: 40px;
	}
}

.contactSection p {
	font-size: 16px;
	line-height: 26px;
	padding-bottom: 45px;
}

@media only screen and (max-width: 992px) {
	.contactSection p {
		text-align: center;
	}
}

@media only screen and (max-width: 639px) {
	.contactSection p {
		font-size: 14px;
		padding-bottom: 15px;
		line-height: 20px;
	}
}

.contactSection .contactImgMain {
	position: absolute;
	top: 50%;
	right: 0;
	width: 749px;
	height: 585px;
	transform: translateY(-50%);
	background: url(../images/contactImg.svg) center center no-repeat;
	background-size: contain;
}

@media only screen and (max-width: 1600px) {
	.contactSection .contactImgMain {
		width: 550px;
	}
}

@media only screen and (max-width: 1200px) {
	.contactSection .contactImgMain {
		width: 450px;
	}
}

@media only screen and (max-width: 992px) {
	.contactSection .contactImgMain {
		display: none;
	}
}
.signUpWithSocial {
	border-top: #eef2f4 2px solid;
	margin-top: 34px;
	padding: 20px 0 0 0;
	text-align: center;
}

.signUpWithSocial h3 {
	font-size: 21px;
	font-weight: 700;
	margin-bottom: 30px;
}

.btnGoogle {
	color: white;
	background: #c43113;
	border: none;
	padding: 12px 30px;
	font-size: 18px;
	width: 100%;
}

.btnGoogle i {
	font-size: 29px;
	vertical-align: -6px;
	margin-right: 6px;
}

.btnGoogle:hover,
.btnGoogle:active,
.btnGoogle:focus {
	background: #ec5638;
}

.btnFacebook {
	color: white;
	background: #2d5ab8;
	border: none;
	padding: 12px 30px;
	font-size: 18px;
	width: 100%;
}

.btnFacebook i {
	font-size: 29px;
	vertical-align: -6px;
	margin-right: 6px;
}

.btnFacebook:hover,
.btnFacebook:active,
.btnFacebook:focus {
	background: #5b83d7;
}
/* End contactSection */

/*!
 * Datetimepicker for Bootstrap 3
 * version : 4.17.47
 * https://github.com/Eonasdan/bootstrap-datetimepicker/
 */
.dateTimePickerInput,
.dateTimePickerInput:focus {
	width: 100%;
	position: absolute;
	top: 0;
	background: transparent;
	left: 0;
	height: 100%;
	padding: 0 0 0 52px;
}

.bootstrap-datetimepicker-widget {
	list-style: none;
	z-index: 100;
}

.bootstrap-datetimepicker-widget.dropdown-menu {
	width: 100%;
	padding: 10px;
	border-radius: 4px;
	direction: ltr;
	border: 0 !important;
	box-shadow: 0px 0px 15px 1px rgba(69, 65, 78, 0.2) !important;
	font-size: 12px;
	font-weight: 400;
	margin-top: 10px !important;
	margin-bottom: 10px !important;
}

.bootstrap-datetimepicker-widget .list-unstyled {
	margin: 0;
}

.bootstrap-datetimepicker-widget a[data-action] {
	padding: 6px 0;
	font-size: 16px;
	font-weight: 800;
	color: #cf9c67;
}

.bootstrap-datetimepicker-widget a[data-action]:active {
	box-shadow: none;
	color: #cf9c67;
}

.bootstrap-datetimepicker-widget .timepicker-hour,
.bootstrap-datetimepicker-widget .timepicker-minute,
.bootstrap-datetimepicker-widget .timepicker-second {
	width: 54px;
	font-weight: bold;
	font-size: 1.2em;
	margin: 0;
}

.bootstrap-datetimepicker-widget button[data-action] {
	padding: 6px;
}

.bootstrap-datetimepicker-widget .btn[data-action='incrementHours']::after {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	padding: 0;
	overflow: hidden;
	clip: rect(0, 0, 0, 0);
	border: 0;
	content: 'Increment Hours';
}

.bootstrap-datetimepicker-widget .btn[data-action='incrementMinutes']::after {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	padding: 0;
	overflow: hidden;
	clip: rect(0, 0, 0, 0);
	border: 0;
	content: 'Increment Minutes';
}

.bootstrap-datetimepicker-widget .btn[data-action='decrementHours']::after {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	padding: 0;
	overflow: hidden;
	clip: rect(0, 0, 0, 0);
	border: 0;
	content: 'Decrement Hours';
}

.bootstrap-datetimepicker-widget .btn[data-action='decrementMinutes']::after {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	padding: 0;
	overflow: hidden;
	clip: rect(0, 0, 0, 0);
	border: 0;
	content: 'Decrement Minutes';
}

.bootstrap-datetimepicker-widget .btn[data-action='showHours']::after {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	padding: 0;
	overflow: hidden;
	clip: rect(0, 0, 0, 0);
	border: 0;
	content: 'Show Hours';
}

.bootstrap-datetimepicker-widget .btn[data-action='showMinutes']::after {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	padding: 0;
	overflow: hidden;
	clip: rect(0, 0, 0, 0);
	border: 0;
	content: 'Show Minutes';
}

.bootstrap-datetimepicker-widget .btn[data-action='togglePeriod']::after {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	padding: 0;
	overflow: hidden;
	clip: rect(0, 0, 0, 0);
	border: 0;
	content: 'Toggle AM/PM';
}

.bootstrap-datetimepicker-widget .btn[data-action='clear']::after {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	padding: 0;
	overflow: hidden;
	clip: rect(0, 0, 0, 0);
	border: 0;
	content: 'Clear the picker';
}

.bootstrap-datetimepicker-widget .btn[data-action='today']::after {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	padding: 0;
	overflow: hidden;
	clip: rect(0, 0, 0, 0);
	border: 0;
	content: 'Set the date to today';
}

.bootstrap-datetimepicker-widget .picker-switch {
	text-align: center;
}

.bootstrap-datetimepicker-widget .picker-switch::after {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	padding: 0;
	overflow: hidden;
	clip: rect(0, 0, 0, 0);
	border: 0;
	content: 'Toggle Date and Time Screens';
}

.bootstrap-datetimepicker-widget .picker-switch td {
	padding: 0;
	margin: 0;
	height: auto;
	width: auto;
	line-height: inherit;
}

.bootstrap-datetimepicker-widget .picker-switch td span {
	font-size: 16px;
	line-height: 2.5;
	height: 2.5em;
	width: 100%;
	font-weight: 800;
}

.bootstrap-datetimepicker-widget table {
	width: 100%;
	margin: 0;
}

.bootstrap-datetimepicker-widget table td,
.bootstrap-datetimepicker-widget table th {
	width: 30px;
	height: 30px;
	border-radius: 2px;
	border: none;
}

.bootstrap-datetimepicker-widget table td {
	text-align: center;
	border-radius: 3px;
}

.bootstrap-datetimepicker-widget table th {
	text-align: center;
	border-radius: 2px;
	line-height: 20px;
}

.bootstrap-datetimepicker-widget table th.picker-switch {
	width: 145px;
}

.bootstrap-datetimepicker-widget table th.disabled {
	background: none;
	color: #777;
	cursor: not-allowed;
}

.bootstrap-datetimepicker-widget table th.disabled:hover {
	background: none;
	color: #777;
	cursor: not-allowed;
}

.bootstrap-datetimepicker-widget table th.prev::after {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	padding: 0;
	overflow: hidden;
	clip: rect(0, 0, 0, 0);
	border: 0;
	content: 'Previous Month';
}

.bootstrap-datetimepicker-widget table th.next::after {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	padding: 0;
	overflow: hidden;
	clip: rect(0, 0, 0, 0);
	border: 0;
	content: 'Next Month';
}

.bootstrap-datetimepicker-widget table thead tr:first-child th {
	cursor: pointer;
}

.bootstrap-datetimepicker-widget table thead tr:first-child th:hover {
	background: #eee;
}

.bootstrap-datetimepicker-widget table td {
	height: 54px;
	line-height: 54px;
	width: 54px;
}

.bootstrap-datetimepicker-widget table td.cw {
	font-size: 0.8em;
	height: 20px;
	line-height: 20px;
	color: #777;
}

.bootstrap-datetimepicker-widget table td.day {
	height: 25px;
	line-height: 25px;
	width: 25px;
}

.bootstrap-datetimepicker-widget table td.day:hover {
	background: #eee;
	cursor: pointer;
}

.bootstrap-datetimepicker-widget table td.hour:hover,
.bootstrap-datetimepicker-widget table td.minute:hover,
.bootstrap-datetimepicker-widget table td.second:hover {
	background: #eee;
	cursor: pointer;
}

.bootstrap-datetimepicker-widget table td.old,
.bootstrap-datetimepicker-widget table td.new {
	color: #777;
}

.bootstrap-datetimepicker-widget table td.today {
	position: relative;
}

.bootstrap-datetimepicker-widget table td.today:before {
	content: '';
	display: inline-block;
	border: solid transparent;
	border-width: 0 0 7px 7px;
	border-bottom-color: #cf9c67;
	border-top-color: rgba(0, 0, 0, 0.2);
	position: absolute;
	bottom: 4px;
	right: 4px;
}

.bootstrap-datetimepicker-widget table td.active {
	background-color: #cf9c67;
	color: #fff;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}

.bootstrap-datetimepicker-widget table td.active:hover {
	background-color: #cf9c67;
	color: #fff;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}

.bootstrap-datetimepicker-widget table td.active.today:before {
	border-bottom-color: #fff;
}

.bootstrap-datetimepicker-widget table td.disabled {
	background: none;
	color: #777;
	cursor: not-allowed;
}

.bootstrap-datetimepicker-widget table td.disabled:hover {
	background: none;
	color: #777;
	cursor: not-allowed;
}

.bootstrap-datetimepicker-widget table td span {
	display: inline-block;
	width: 54px;
	height: 54px;
	line-height: 54px;
	margin: 2px 1.5px;
	cursor: pointer;
	border-radius: 4px;
}

.bootstrap-datetimepicker-widget table td span:hover {
	color: #cf9c67;
	background: #eee;
}

.bootstrap-datetimepicker-widget table td span.active {
	background-color: #cf9c67;
	color: #fff;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}

.bootstrap-datetimepicker-widget table td span.old {
	color: #777;
}

.bootstrap-datetimepicker-widget table td span.disabled {
	background: none;
	color: #777;
	cursor: not-allowed;
}

.bootstrap-datetimepicker-widget table td span.disabled:hover {
	background: none;
	color: #777;
	cursor: not-allowed;
}

.bootstrap-datetimepicker-widget.usetwentyfour td.hour {
	height: 27px;
	line-height: 27px;
}

.bootstrap-datetimepicker-widget .datepicker-decades .decade {
	line-height: 1.8em !important;
}

.input-group.date .input-group-addon {
	cursor: pointer;
}

.sr-only {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	padding: 0;
	overflow: hidden;
	clip: rect(0, 0, 0, 0);
	border: 0;
}

.afterContinueMain .afterContinue {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: flex-start;
}

.afterContinueMain .afterContinue .serviceImg {
	width: 170px;
	margin-right: 20px;
}

.afterContinueMain .afterContinue .serviceDetail {
	flex: 1;
	font-size: 14px;
	color: #545454;
	margin: 0;
	padding: 0;
	list-style: none;
}

.afterContinueMain .afterContinue .serviceDetail li {
	padding: 3px 12px;
	font-size: 13px;
	color: #545454;
	background: #eef2f4;
	border-radius: 3px;
	margin: 2px 0;
}

.afterContinueMain .afterContinue .serviceDetail li .labels {
	min-width: 105px;
	font-weight: 600;
	color: black;
	display: inline-block;
	font-size: 13px;
}

.afterContinueMain .afterContinue .serviceDetail li:first-child {
	background: none;
}

.afterContinueMain .afterContinue .serviceDetail li:last-child {
	font-size: 19px;
	font-weight: 700;
	color: #cf9c67;
}

.afterContinueMain .afterContinue .serviceDetail li h5 {
	color: #cf9c67;
}

/* Start Profile Settings */
.profileSetting {
	padding: 0;
}

.profileSetting .profileTitle {
	margin: 0;
	font-size: 24px;
	padding: 0 0 10px 0;
	border-bottom: #d7d7d7 2px solid;
	line-height: initial;
}

.profileSetting .profileTabList {
	padding: 20px 0 0 0;
}

.profileSetting .profileTabList a.nav-link {
	border: none;
	border-radius: 4px;
	display: block;
	padding: 0.5rem 1rem;
}

.profileSetting .profileTabList a.nav-link.active {
	background: #cf9c67;
	color: white;
}

.profileSetting .profileTabList .profileTabsColumn {
	padding-left: 15px;
}

@media only screen and (min-width: 769px) {
	.profileSetting .profileTabList .profileTabsColumn {
		flex-direction: column;
	}
}

.openFileBtn {
	position: relative;
	overflow: hidden;
}

.openFileBtn input[type='file'] {
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0;
	top: 0;
	opacity: 0;
	cursor: pointer;
}

.accountLinked {
	font-size: 0.93em;
	padding: 12px;
	background: white;
	border-radius: 3px;
	box-shadow: 0 1px 3px #e1e1e1;
	margin-top: 15px;
}

.accountLinked h3 {
	font-weight: 600;
	padding-bottom: 5px;
	display: inline-block;
	font-size: 1em;
	margin: 0;
	color: #545454;
}

.accountLinked h3 a {
	font-weight: normal;
	margin-left: 5px;
	font-size: small;
}

/* End Profile Settings */
.stage {
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
	padding: 0;
	margin: 0 -4%;
	overflow: hidden;
	height: 40px;
}

.dot-floating {
	position: relative;
	width: 10px;
	height: 10px;
	border-radius: 5px;
	background-color: white;
	color: white;
	animation: dot-floating 3s infinite cubic-bezier(0.15, 0.6, 0.9, 0.1);
}

.dot-floating::before,
.dot-floating::after {
	content: '';
	display: inline-block;
	position: absolute;
	top: 0;
}

.dot-floating::before {
	left: -12px;
	width: 10px;
	height: 10px;
	border-radius: 5px;
	background-color: white;
	color: white;
	animation: dot-floating-before 3s infinite ease-in-out;
}

.dot-floating::after {
	left: -24px;
	width: 10px;
	height: 10px;
	border-radius: 5px;
	background-color: white;
	color: white;
	animation: dot-floating-after 3s infinite cubic-bezier(0.4, 0, 1, 1);
}

@keyframes dot-floating {
	0% {
		left: calc(-50% - 5px);
	}
	75% {
		left: calc(50% + 105px);
	}
	100% {
		left: calc(50% + 105px);
	}
}

@keyframes dot-floating-before {
	0% {
		left: -50px;
	}
	50% {
		left: -12px;
	}
	75% {
		left: -50px;
	}
	100% {
		left: -50px;
	}
}

@keyframes dot-floating-after {
	0% {
		left: -100px;
	}
	50% {
		left: -24px;
	}
	75% {
		left: -100px;
	}
	100% {
		left: -100px;
	}
}

/* Image viewer */
.imageViewer {
	text-align: center;
	position: relative;
	min-height: 72px;
	overflow: hidden;
	margin-bottom: 20px;
}

.imageViewer .imageViewerContainer {
	/* display: block; */
	margin: 0 auto;
	position: relative;
	display: inline-block;
	vertical-align: middle;
}

.imageViewer .imageViewerContainer.cursorZoomIn {
	cursor: zoom-in;
	max-height: 616px;
	max-width: 924px;
}

.imageViewer .imageViewerContainer.cursorZoomOut {
	cursor: zoom-out;
	max-width: 100%;
}

/* Image viewer */
.footerNav {
	text-align: right;
	font-size: 14px;
}

@media only screen and (max-width: 992px) {
	.footerNav {
		text-align: center;
	}
}

.footerNav a {
	padding: 0 8px;
	color: white;
}

.footerNav a:hover {
	color: #f59;
}

/**/
.blogCard {
	border: 0;
	margin-bottom: 30px;
	margin-top: 30px;
	border-radius: 6px;
	color: #545454;
	background: white;
	width: 100%;
	box-shadow: 0 1px 15px 0 rgba(0, 0, 0, 0.14);
	min-height: calc(100% - 60px);
}

.blogCard .card-header {
	margin: -30px 10px 0 10px;
	transition: all 0.3s cubic-bezier(0.34, 1.61, 0.7, 1);
	transform: translateZ(0);
	position: relative;
	padding: 0;
	z-index: 1;
	border-radius: 6px;
	height: 250px;
}

.blogCard .card-header a {
	position: absolute;
	left: 0;
	height: 100%;
	width: 100%;
	background-position: center center;
	background-size: cover;
	background-repeat: no-repeat;
	display: block;
	box-shadow: 0 5px 15px -8px rgba(0, 0, 0, 0.24),
		0 8px 10px -5px rgba(0, 0, 0, 0.2);
	border-radius: 6px;
}

.blogCard .card-body {
	padding: 0.9375rem 20px;
	position: relative;
}

.blogCard .card-body .card-description p {
	margin-bottom: 0;
	font-size: 13px;
}

.blogCard .card-footer {
	padding: 7px 0 0;
	margin: 0 15px 0;
	border-radius: 0;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	background: none;
	border-top: 1px solid #eef2f4;
}

.blogCard .card-footer .cardDate {
	font-size: 11px;
	color: #a1a1a1;
	margin-bottom: 8px;
}

.blogCard .card-footer .moreLink {
	display: inline-block;
	position: relative;
	top: -4px;
	color: #cf9c67;
	font-size: 14px;
}

.blogCard .card-footer .moreLink:hover,
.blogCard .card-footer .moreLink:focus,
.blogCard .card-footer .moreLink:active {
	color: #545454;
}

.blogCard .card-footer .moreLink i {
	vertical-align: -1px;
}

.blogCard:hover .card-header {
	transform: translate3d(0, -5px, 0);
}

/**/
.singleImageSocial::after {
	content: '';
	display: table;
	clear: both;
}

.singleImageSocial .singleImgShareIcon {
	width: 30px;
	height: 30px;
	display: inline-block;
	color: #fff;
	text-align: center;
	line-height: 30px;
	border-radius: 100px;
	margin: -6px 3px 0 3px;
	font-size: 16px;
	vertical-align: top;
	padding: 0;
	cursor: pointer;
}

.singleImageSocial .singleImgShareIcon:focus,
.singleImageSocial .singleImgShareIcon:hover {
	color: #fff;
}

.singleImageSocial .singleImgShareIcon.iconFb {
	background: #3b5998;
}

.singleImageSocial .singleImgShareIcon.iconFb:hover {
	background: #32508d;
}

.singleImageSocial .singleImgShareIcon.iconTwt {
	background: #55acee;
}

.singleImageSocial .singleImgShareIcon.iconTwt:hover {
	background: #4197d8;
}

.singleImageSocial .singleImgShareIcon.iconGgp {
	background: #d74836;
	font-size: 19px;
}

.singleImageSocial .singleImgShareIcon.iconGgp:hover {
	background: #b9392a;
}

.singleImageSocial .singleImgShareIcon.iconPin {
	background: #bd081c;
}

.singleImageSocial .singleImgShareIcon.iconPin:hover {
	background: #800613;
}

.singleImageSocial .singleImgShareIcon.iconRdt {
	background: #f54b00;
	font-size: 18px;
}

.singleImageSocial .singleImgShareIcon.iconRdt:hover {
	background: #d44100;
}

/**/
.btn-bitbucket {
	color: white;
	background-color: #205081;
	border-color: rgba(0, 0, 0, 0.2);
}

.btn-bitbucket:hover,
.btn-bitbucket:focus,
.btn-bitbucket:active,
.btn-bitbucket.active {
	color: white;
	background-color: #183c60;
	border-color: rgba(0, 0, 0, 0.2);
}

.btn-dropbox {
	color: white;
	background-color: #1087dd;
	border-color: rgba(0, 0, 0, 0.2);
}

.btn-dropbox:hover,
.btn-dropbox:focus,
.btn-dropbox:active,
.btn-dropbox.active {
	color: white;
	background-color: #0d70b7;
	border-color: rgba(0, 0, 0, 0.2);
}

.btn-facebook {
	color: white;
	background-color: #3b5998;
	border-color: rgba(0, 0, 0, 0.2);
}

.btn-facebook:hover,
.btn-facebook:focus,
.btn-facebook:active,
.btn-facebook.active {
	color: white;
	background-color: #30487b;
	border-color: rgba(0, 0, 0, 0.2);
}

.btn-flickr {
	color: white;
	background-color: #ff0084;
	border-color: rgba(0, 0, 0, 0.2);
}

.btn-flickr:hover,
.btn-flickr:focus,
.btn-flickr:active,
.btn-flickr.active {
	color: white;
	background-color: #d6006f;
	border-color: rgba(0, 0, 0, 0.2);
}

.btn-github {
	color: white;
	background-color: #444;
	border-color: rgba(0, 0, 0, 0.2);
}

.btn-github:hover,
.btn-github:focus,
.btn-github:active,
.btn-github.active {
	color: white;
	background-color: #303030;
	border-color: rgba(0, 0, 0, 0.2);
}

.btn-google-plus {
	color: white;
	background-color: #dd4b39;
	border-color: rgba(0, 0, 0, 0.2);
}

.btn-google-plus:hover,
.btn-google-plus:focus,
.btn-google-plus:active,
.btn-google-plus.active {
	color: white;
	background-color: #ca3523;
	border-color: rgba(0, 0, 0, 0.2);
}

.btn-google-plus :first-child {
	font-size: 25px;
}

.btn-instagram {
	color: white;
	background-color: #cf2a7a;
	border-color: rgba(0, 0, 0, 0.2);
}

.btn-instagram:hover,
.btn-instagram:focus,
.btn-instagram:active,
.btn-instagram.active {
	color: white;
	background-color: #b91665;
	border-color: rgba(0, 0, 0, 0.2);
}

.btn-linkedin {
	color: white;
	background-color: #007bb6;
	border-color: rgba(0, 0, 0, 0.2);
}

.btn-linkedin:hover,
.btn-linkedin:focus,
.btn-linkedin:active,
.btn-linkedin.active {
	color: white;
	background-color: #005f8d;
	border-color: rgba(0, 0, 0, 0.2);
}

.btn-pinterest {
	color: white;
	background-color: #cb2027;
	border-color: rgba(0, 0, 0, 0.2);
}

.btn-pinterest:hover,
.btn-pinterest:focus,
.btn-pinterest:active,
.btn-pinterest.active {
	color: white;
	background-color: #a81a20;
	border-color: rgba(0, 0, 0, 0.2);
}

.btn-tumblr {
	color: white;
	background-color: #2c4762;
	border-color: rgba(0, 0, 0, 0.2);
}

.btn-tumblr:hover,
.btn-tumblr:focus,
.btn-tumblr:active,
.btn-tumblr.active {
	color: white;
	background-color: #1f3346;
	border-color: rgba(0, 0, 0, 0.2);
}

.btn-twitter {
	color: white;
	background-color: #2ba9e1;
	border-color: rgba(0, 0, 0, 0.2);
}

.btn-twitter:hover,
.btn-twitter:focus,
.btn-twitter:active,
.btn-twitter.active {
	color: white;
	background-color: #1c92c7;
	border-color: rgba(0, 0, 0, 0.2);
}

.btn-vk {
	color: white;
	background-color: #587ea3;
	border-color: rgba(0, 0, 0, 0.2);
}

.btn-vk:hover,
.btn-vk:focus,
.btn-vk:active,
.btn-vk.active {
	color: white;
	background-color: #4a6a89;
	border-color: rgba(0, 0, 0, 0.2);
}

/**/
.singlePost .singlePostImageMain {
	position: relative;
	height: 500px;
	margin-bottom: 20px;
}

.singlePost .singlePostImageMain .singlePostImage {
	position: absolute;
	left: 0;
	height: 100%;
	width: 100%;
	background-position: center center;
	background-size: cover;
	background-repeat: no-repeat;
	display: block;
	box-shadow: 0 5px 15px -8px rgba(0, 0, 0, 0.24),
		0 8px 10px -5px rgba(0, 0, 0, 0.2);
	border-radius: 6px;
}

.singlePost h3 {
	font-size: 25px;
	font-weight: 700;
	color: black;
	margin-bottom: 4px;
}

.singlePost .singlePostDate {
	font-size: 12px;
	color: #6e6e6e;
	margin-bottom: 15px;
}

.singlePost .singlePostDesc {
	font-size: 14px;
	line-height: 18px;
	color: #545454;
}

.singlePost .singlePostDesc p {
	font-size: 14px;
	line-height: 20px;
	color: #545454;
	margin-bottom: 10px;
}

.StripeElement {
	box-sizing: border-box;
	height: 40px;
	padding: 10px 12px;
	border: 1px solid transparent;
	border-radius: 4px;
	background-color: white;
	box-shadow: 0 1px 3px 0 #e6ebf1;
	transition: box-shadow 150ms ease;
	position: relative;
	border: 1px solid rgba(0, 0, 0, 0.1);
	border-radius: 5px;
	background: none;
	box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.1);
	color: rgba(0, 0, 0, 0.8);
}

.StripeElement--focus {
	box-shadow: 0 1px 3px 0 #cfd7df;
}

.StripeElement--invalid {
	border-color: #fa755a;
}

.StripeElement--webkit-autofill {
	background-color: #fefde5 !important;
}

/**/
.selectAgentMain {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	align-items: stretch;
}

.selectAgentMain .agentItem {
	margin-bottom: 0%;
	margin-top: 2%;
	flex: 0 0 18%;
	margin-left: 2%;
	cursor: pointer;
	user-select: none;
}

.selectAgentMain .agentItem:nth-child(1),
.selectAgentMain .agentItem:nth-child(2),
.selectAgentMain .agentItem:nth-child(3),
.selectAgentMain .agentItem:nth-child(4),
.selectAgentMain .agentItem:nth-child(5) {
	margin-top: 0px;
}

.selectAgentMain .agentItem:first-child {
	margin-left: auto;
}

.selectAgentMain .agentItem:nth-child(5n + 1) {
	margin-left: 0px;
}

.selectAgentMain .agentItem:last-child {
	margin-right: auto;
}

.selectAgentMain .agentItem.agentsAnim:hover .agentItemInner .avatar {
	transform-origin: center center;
	transform: translateY(-8px) scale(0.9);
}

.selectAgentMain .agentItem.agentsAnim:hover .agentItemInner .avatarName {
	transform: translateY(-14px);
}

.selectAgentMain .agentItem.agentsAnim:hover .agentItemInner .viewDetail {
	opacity: 1;
	transform: translateY(-12px);
}

.selectAgentMain .agentItem .agentItemInner {
	position: relative;
	height: 100%;
	border-radius: 4px;
	display: block;
	padding: 10px;
	background: #ffffff;
	border: 2px solid #e5e7ee;
	box-shadow: none;
	outline: none;
	color: #1f222b;
	text-decoration: none;
	transition: all 0.2s ease-in-out;
}

.selectAgentMain .agentItem .agentItemInner:hover {
	border-color: #cf9c67;
}

.selectAgentMain .agentItem .avatar {
	padding: 2px 15px 2px;
	height: auto;
	margin: 0px;
	transition: all 0.2s ease-in-out;
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center center;
	text-align: center;
	display: block;
}

.selectAgentMain .agentItem .avatar .avatarBg {
	background-size: cover;
	background-position: center center;
	padding-bottom: 100%;
	border-radius: 50%;
}

.selectAgentMain .agentItem .avatarName {
	transition: all 0.2s ease-in-out;
	position: relative;
	padding: 5px 0px;
	font-weight: 400;
	font-size: 14px;
	text-align: center;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
	max-width: 75px;
	margin: 0 auto;
}

.selectAgentMain .agentItem .viewDetail {
	cursor: pointer;
	font-size: 12px;
	color: white;
	padding: 5px 0px;
	font-weight: 500;
	cursor: pointer;
	opacity: 0;
	position: absolute;
	bottom: -5px;
	left: 0px;
	right: 0px;
	max-width: 100%;
	z-index: 1;
	border: none;
	color: #cf9c67;
	transition: all 0.2s ease-in-out;
	text-align: center;
}

.selectAgentMain .agentItem .viewDetail span {
	border-bottom: 1px dotted rgba(207, 156, 103, 0.5);
}

.selectAgentMain .agentItem .viewDetail span:hover {
	border-bottom-style: solid;
	color: #000;
}

.selectAgentMain .agentItem input {
	position: absolute;
	opacity: 0;
	cursor: pointer;
	height: 0;
	width: 0;
}

.selectAgentMain .agentItem input:checked ~ .agentItemInner {
	border-color: #cf9c67;
}

.selectAgentMain .agentItem input[type='radio'][disabled] + .agentItemInner {
	position: relative;
	border: 2px solid #eceef5;
}

.selectAgentMain
	.agentItem
	input[type='radio'][disabled]
	+ .agentItemInner:after {
	content: 'Booked';
	font-size: 12px;
	font-weight: 600;
	color: #cf9c67;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	opacity: 1;
	z-index: 0;
	background: white;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.4);
	border-radius: 3px;
	padding: 2px 7px;
}

.selectAgentMain
	.agentItem
	input[type='radio'][disabled]
	+ .agentItemInner:hover {
	border: 2px solid #eceef5;
}

.selectAgentMain
	.agentItem
	input[type='radio'][disabled]
	+ .agentItemInner
	.avatar {
	opacity: 0.5;
	transform-origin: center center;
	transform: initial;
}

.selectAgentMain
	.agentItem
	input[type='radio'][disabled]
	+ .agentItemInner
	.avatarName {
	opacity: 0.5;
	transform: initial;
}

.selectAgentMain
	.agentItem
	input[type='radio'][disabled]
	+ .agentItemInner
	.viewDetail {
	display: none;
	transform: initial;
}

.agentModal {
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	z-index: 2;
	background-color: #f0f0f0;
	box-shadow: 0 10px 30px 0 rgba(0, 0, 0, 0.051);
	cursor: default;
	overflow: auto;
	animation: 0.4s cubic-bezier(0.45, 1.3, 0.6, 1) 0s both agentBio;
	display: none;
}

.agentModal.active {
	display: block;
}

.agentModal .agentModalInner {
	position: relative;
}

.agentModal .agentModalInner .closeModalBtn {
	position: absolute;
	top: 0px;
	right: 0px;
	background-color: #cf9c67;
	color: white;
	padding: 10px;
	font-size: 12px;
	font-weight: 500;
	z-index: 9999;
	cursor: pointer;
}

.agentModal .agentModalInner .closeModalBtn:hover {
	background-color: black;
}

.agentModal .agentModalInner .agentModalHeader {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 20px;
}

.agentModal .agentModalInner .agentModalHeader img {
	width: 100px;
	height: 100px;
	margin-bottom: 6px;
}

.agentModal .agentModalInner .agentModalHeader h3 {
	font-size: 20px;
	font-weight: 700;
	color: black;
}

.agentModal .agentModalInner .userColumns {
	padding: 15px;
	background: #eaeaea;
	margin: 0 20px;
	border-radius: 5px;
}

.agentModal .agentModalInner .userColumns h4 {
	font-size: 25px;
	color: #cf9c67;
	font-weight: 600;
	margin: 0;
	line-height: 1;
}

.agentModal .agentModalInner .userColumns span {
	color: #6b7082;
	font-size: 12px;
	font-weight: 300;
}

.agentModal .agentModalInner .agentDetails {
	font-size: 15px;
	line-height: 19px;
	color: black;
	margin: 20px;
}
.agentModal .agentModalInner .agentDetails p {
	font-size: 15px;
	line-height: 19px;
	color: black;
}

@keyframes agentBio {
	0% {
		transform: scale(0.8);
		opacity: 0;
	}
	100% {
		transform: scale(1);
		opacity: 1;
	}
}

.paypal-button-container,
#zoid-paypal-buttons-a91a206aaf_mti6ndq6mzq {
	max-width: 100% !important;
}

/* loader for paypal */
.loading {
	position: fixed;
	z-index: 999;
	height: 2em;
	width: 2em;
	overflow: show;
	margin: auto;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
}

.loading:before {
	content: '';
	display: block;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: radial-gradient(rgba(20, 20, 20, 0.8), rgba(0, 0, 0, 0.8));
	background: -webkit-radial-gradient(
		rgba(20, 20, 20, 0.8),
		rgba(0, 0, 0, 0.8)
	);
}

.loading:not(:required) {
	/* hide "loading..." text */
	font: 0/0 a;
	color: transparent;
	text-shadow: none;
	background-color: transparent;
	border: 0;
}

.quotationText {
	word-break: normal;
	font-weight: 400;
	font-size: 15px;
}

.loading:not(:required):after {
	content: '';
	display: block;
	font-size: 10px;
	width: 1em;
	height: 1em;
	margin-top: -0.5em;
	animation: spinner 150ms infinite linear;
	border-radius: 0.5em;
	box-shadow: rgba(255, 255, 255, 0.75) 1.5em 0 0 0,
		rgba(255, 255, 255, 0.75) 1.1em 1.1em 0 0,
		rgba(255, 255, 255, 0.75) 0 1.5em 0 0,
		rgba(255, 255, 255, 0.75) -1.1em 1.1em 0 0,
		rgba(255, 255, 255, 0.75) -1.5em 0 0 0,
		rgba(255, 255, 255, 0.75) -1.1em -1.1em 0 0,
		rgba(255, 255, 255, 0.75) 0 -1.5em 0 0,
		rgba(255, 255, 255, 0.75) 1.1em -1.1em 0 0;
}

/* Animation */
@keyframes spinner {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}
/*# sourceMappingURL=style.css.map */
.customInputs {
	height: 50px;
}
.formControlInput {
	height: 50px;
}

.blog-details-area.section .selectionBoxMain .singleInputform {
	position: relative;
	border: 1px solid rgba(0, 0, 0, 0.1);
	border-radius: 5px;
	background: none;
	box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.1);
	color: rgba(0, 0, 0, 0.8);
}

.blog-details-area.section .selectionBoxMain .singleInputform input {
	border: none;
}

.blog-details-area.section .selectionBoxMain .singleInputform select {
	font-size: 16px;
	height: 45px;
	padding-left: 35px;
	border: none;
	background: none;
	cursor: pointer;
	position: relative;
	z-index: 1;
}

.blog-details-area.section .selectionBoxMain .singleInputform .iconbadge {
	position: absolute;
	top: 50%;
	left: 12px;
	transform: translateY(-50%);
	color: rgba(0, 0, 0, 0.8);
	font-size: 16px;
	margin-top: 2px;
}

.blog-details-area.section .selectionBoxMain .singleInputform .iconArrow {
	position: absolute;
	top: 50%;
	right: 12px;
	transform: translateY(-50%);
	color: rgba(0, 0, 0, 0.8);
	font-size: 19px;
}
.contact-us {
	padding: 60px 0;
}
#contact h1 {
	margin: 0;
	color: #222;
}
#contact p {
	font-size: 16px;
	margin: 20px 0 20px 0;
	color: #222;
}
#contact .content ul li {
	font-size: 16px;
	color: #222;
	margin-bottom: 10px;
}

#contact .content ul li a {
	color: #222;
}

.product-box {
	padding: 0;
	background: #fff;
	border-radius: 5px;
	margin-bottom: 40px;
}

.product-box .product-dis {
	padding: 20px;
	background: #efefef;
	text-align: center;
    height: 250px;
    position: relative;
}
.product-box .product-dis .view-details-btn{
	position: absolute;
    bottom: 30px;
    left: 46px;
    right: 0;
    width: 250px;
}

.product-box .product-dis h3 {
	font-size: 18px;
	margin-bottom: 15px;
}

.product-box .product-dis p {
	font-size: 14px;
	margin-bottom: 20px;
	color: #333;
	    width: 250px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.product-box .product-dis span {
	display: inline-block;
	width: 100%;
	margin-bottom: 20px;
	font-size: 22px;
	font-weight: bold;
}

section.my-product {
	padding: 40px 0;
	background: #181818;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
	background-color: #000;
}
.covid-19 {
	background: #ffaf5b;
	margin: 0;
	padding: 3px 0;
	text-align: center;
}

.covid-19 p {
	margin: 0;
	font-size: 15px;
	font-weight: bold;
	text-transform: uppercase;
}

.covid-19 p span {
	background: #af763c;
	color: #fff;
	padding: 0px 20px;
}

.main-header .container {
	display: flex;
}

.main-header .container .right {
	display: flex;
	align-items: center;
	position: relative;
}
.main-header .container .right ul li {
	margin-left: 10px;
}
.main-header .container .right ul li a {
	width: 30px;
	height: 30px;
	background: #fff;
	display: inline-block;
	text-align: center;
	line-height: 33px;
	font-size: 18px;
	border-radius: 50%;
}
.main-header .container .left h3 {
	margin-bottom: 0;
}

.main-header .container .right ul {
	text-align: right;
}

.main-header .container .right ul li {
	display: inline-block;
}

.d-flex.align-items-center.main-nav {
	width: 100%;
	padding: 10px 0;
	background: #484848;
	border-top: 1px solid #7b7b7b;
}
.d-flex.align-items-center.main-nav ul li a:hover {
	color: #ffaf5b;
}
header .main-header {
	min-height: 80px !important;
	padding: 10px 20px !important;
}
.headerMainSticky {
	padding: 0 !important;
}

.mainMenu {
	position: relative;
	display: flex;
	flex: 0 0 66%;
	align-items: center;
	margin-left: 30px;
}

.cart-menu {
	right: 0;
	top: 0;
	border-left: 1px solid #7b7b7b;
	padding-left: 20px;
	margin-left: 20px;
}
.cart-menu a,
.cart-menu a:hover {
	color: #f5f5f5;
}
.cart-menu span {
	margin-left: 10px;
}

.cart-menu i {
	font-family: 'FontAwesome';
}

/*.home-slider img {
  max-width: inherit;
  width: auto !important;
  height: 400px;
}*/

.servicesSec {
	background: #000;
}

.servicesSec .slider-box {
	display: flex;
}
.servicesSec .slider-box .img {
	flex: 0 0 60%;
}
.servicesSec .slider-box .sr-text {
	display: flex;
	align-items: center;
	flex-direction: column;
	flex: 0 0 40%;
	justify-content: center;
}
.servicesSec .slider-box .sr-text h3 {
	color: #fff;
	font-size: 30px;
	width: 100%;
	text-transform: uppercase;
	font-weight: 500;
	position: relative;
}

.servicesSec .slider-box .sr-text h3:after {
	width: 80px;
	height: 5px;
	position: absolute;
	content: '';
	left: 0;
	top: -15px;
	background: #ffaf5b;
}

.servicesSec .slider-box .sr-text p {
	color: #f2f2f2;
	margin-bottom: 0;
}

.aboutSec {
	text-align: center;
	padding: 90px 0 90px 0;
}

.aboutSec .title h3 {
	font-size: 35px;
	text-transform: uppercase;
	margin-bottom: 10px;
	position: relative;
}

.aboutSec .title h3:after {
	width: 80px;
	height: 5px;
	position: absolute;
	content: '';
	left: 0;
	right: 0;
	margin: 0 auto;
	top: -15px;
	background: #ffaf5b;
}

.aboutSec .title p {
	font-size: 13px;
	padding: 0 !important;
}

.aboutSec p {
	padding: 0 20%;
}

.aboutSec .openyours {
	padding: 60px 0;
	background: #f5f5f5;
	margin: 0 15%;
}

.aboutSec .openyours h3 {
	position: relative;
	text-transform: uppercase;
}

.aboutSec .openyours h3:after {
	width: 80px;
	height: 5px;
	position: absolute;
	content: '';
	left: 0;
	right: 0;
	margin: 0 auto;
	bottom: -15px;
	background: #ffaf5b;
}
.aboutSec .openyours p {
	margin-top: 20px;
}
.aboutSec .openyours p span {
	color: #ffaf5b;
	font-size: 20px;
	text-transform: uppercase;
}

.subscribe-sec {
	background: #000;
	padding: 30px 0;
	color: #fff;
	text-align: center;
}

.subscribe-sec p {
	color: #ddd;
	text-transform: uppercase;
	margin-bottom: 0;
}

.subscribe-sec p a.btn1 {
	line-height: 35px;
	padding: 0 15px;
	margin-left: 20px;
}

.testimonials-sec {
	padding: 50px 0;
	background: #ffaf5b;
}

.testimonials-sec .carousel {
	height: 200px;
}
.testimonials-sec .carousel .carousel-inner {
	width: 70%;
	margin: 0 auto;
	position: relative;
}
.testimonials-sec .carousel .carousel-inner:after {
	position: absolute;
	content: '\f10d';
	font-size: 40px;
	color: #000;
	left: 0;
	top: 20px;
	font-family: fontawesome;
}
.testimonials-sec .carousel .carousel-inner,
.testimonials-sec .carousel .carousel-inner .carousel-item {
	height: 100%;
}

.signup-sec {
	background: #f5f4f4;
	text-align: center;
	padding: 60px 0;
}

.signup-sec p {
	margin: 0 25%;
}

.signup-sec .form-group {
	width: 50%;
	margin: 0 auto;
	margin-top: 20px;
	margin-bottom: 20px;
}

.signup-sec button.btn-primary {
	background: #ddd !important;
	color: #222 !important;
	border: none;
	padding: 10px 20px;
}

.msg-bar {
	background: #ffaf5b;
	width: 100%;
	padding: 10px 0;
	text-align: center;
	color: #fff;
	display: none;
}
.headerMainSticky .main-header {
	display: none;
}
.headerMainSticky .msg-bar {
	display: block;
}

.msg-bar p {
	margin: 0;
	color: #fff;
}

.main-title-section.mainSection {
	position: relative;
	padding-bottom: 50px;
	padding-top: 180px;
}

.main-title-section h3 {
	margin-top: 40px;
	font-size: 50px;
}
.main-title-section p {
	font-size: 15px;
}

.main-title-section ul li {
	display: inline-block;
	margin-right: 10px;
}

.main-title-section.mainSection .overlay {
	position: absolute;
	content: '';
	background: rgba(255, 175, 91, 0.7);
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
}

.main-title-section.mainSection.franchise .overlay {
	background: rgb(33 33 33 / 85%);
}

.main-title-section.mainSection.franchise h3 {
	color: #ffaf5b;
}

.franchise-sec1 {
	padding: 70px 0;
	text-align: center;
	background: #f1f0f0;
}

.franchise-sec1 h3 {
	font-size: 36px;
	padding-bottom: 20px;
	border-bottom: 1px solid #000;
	font-weight: 500;
	text-transform: uppercase;
	margin-bottom: 40px;
}

.franchise-sec1 p {
	margin-bottom: 0;
	letter-spacing: 1px;
}

.booking {
	padding:200px 0 60px 0 !important;
}
.booking h1 {
	color: #000;
	margin-bottom: 30px;
}
.booking p {
	color: #f4894a;
}
.services-multiselect {
	margin-bottom: 30px;
}
.services-multiselect .btn {
	border-radius: 0;
	line-height: 3.2;
	margin-bottom: 15px;
	margin-left: 5px;
	border-color: #e5e5e5;
	background-color: #fff;
	color: #495057;
	width: 19%;
	font-size: 13px;
	text-transform: capitalize;
	box-shadow: 0px 7px 5px #0000000d;
}

.services-multiselect .btn input {
	display: none;
}

.services-multiselect .btn.active {
	border-color: #ffaf5b;
	background-color: #ffaf5b;
	color: #fff;
	box-shadow: none;
}

.services-multiselect .btn:hover {
	border-color: #ffaf5b;
	background-color: #ffaf5b;
	color: #fff;
}

@media (max-width: 767px) {
	.main-header .container .right {
		display: none;
	}
	.mainMenu {
		position: static;
		display: inline-block;
		align-items: center;
		margin-left: 0;
		flex: auto;
		width: 100%;
	}
	.mobile-menu {
		position: absolute;
		right: 35px;
		top: 35%;
	}

	.mainSection {
		padding-bottom: 0;
		min-height: auto !important;
	}

	.covid-19 {
		padding: 20px 0;
	}
	.covid-19 p {
		font-size: 16px;
	}

	.servicesSec .slider-box {
		display: inline-block;
		width: 100%;
	}

	.servicesSec .slider-box .sr-text {
		text-align: center;
		margin-top: 20px;
	}

	.servicesSec .slider-box .sr-text h3:after {
		left: 0;
		right: 0;
		margin: 0 auto;
	}

	.servicesSec .slider-box .img {
		flex: 0 0 100%;
	}

	.services-multiselect .btn {
		width: 100%;
	}

	.aboutSec {
		padding: 60px 0 40px 0;
	}
	.aboutSec p {
		padding: 0 4%;
	}
	.aboutSec .openyours {
		margin: 0 5%;
		padding: 20px 0;
	}

	.testimonials-sec .carousel .carousel-inner,
	.testimonials-sec .carousel .carousel-inner .carousel-item {
		height: 106%;
	}

	.signup-sec p {
		margin: 0 5%;
	}

	.signup-sec .form-group {
		width: 80%;
	}

	.main-title-section.mainSection {
		padding-top: 0px;
		text-align: center;
	}

	.main-title-section h3 {
		font-size: 30px;
	}

	#contact .content ul li {
		font-weight: bold;
		text-align: center;
	}
	#contact .content ul li a {
		font-weight: normal !important;
	}

	.t-title {
		text-align: center;
		margin-top: 30px;
	}

	.t-title h3 {
		margin-bottom: 0;
	}

	.main-title-section ul li {
		margin-bottom: 14px;
	}

	.franchise-sec1 h3 {
		font-size: 26px;
	}

	.main-title-section.mainSection.frn-s3 {
		padding: 40px 0;
	}

	.main-title-section.mainSection.frn-s3 p {
		margin-bottom: 0;
	}

	.home-slider img {
		/*height: 250px;*/
		height: 100px;
	}
	.selectAgentMain .agentItem {
		flex: 0 0 32% !important;
	}
	.selectAgentMain .agentItem.agentsAnim:hover .agentItemInner .avatar {
		transform: none !important;
	}

	.selectAgentMain .agentItem .viewDetail {
		opacity: 1 !important;
	}
}

/* css changes start */
.job-section-banner p {
	margin: 0 0 10px 0;
}
* {
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif;
}

#main {
  background: url(https://cdn.pixabay.com/photo/2015/04/20/13/30/kitchen-731351_1280.jpg);
  background-size: cover;
  background-position: center;
  height: 100vh;
  width: 100%;
  text-align: center;
  position: absolute;
}

#logo {
  top: 10%;
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
  padding: 10px;
  max-width: 350px;
}

#logo img {
  width: 100%;
}

#darkBack {
  position: absolute;
  background: rgba(255, 255, 255, 0.75);
  width: 100%;
  height: 100%;
}

#timeDiv {
  font-size: 15px;
  text-transform: uppercase;
  position: relative;
  max-width: 325px;
  background: #fff;
  width: 85%;
  margin: 0 auto;
  top: 50%;
  padding: 10px;
  border-radius: 3px;
  -webkit-box-shadow: 0 8px 16px -8px #adadad;
  -moz-box-shadow: 0 8px 16px -8px #adadad;
  box-shadow: 0 8px 16px -8px #adadad;
  display: inline-block;
  vertical-align: top;
  font-weight: 600;
}

.open {
  color: #27ae60;
  border: 2px solid #27ae60;
}

.closed {
  color: rgba(231, 76, 60, 0.85);
  border: 2px solid rgba(231, 76, 60, 0.8);
}

.viewOpen {
  font-size: 15px;
  text-transform: uppercase;
  position: relative;
  display: inline-block;
  vertical-align: top;
  border: 2px solid rgba(70, 70, 70, 0.7);
  max-width: 170px;
  background: #fff;
  width: 100%;
  color: rgba(70, 70, 70, 0.8);
  margin: 0 auto;
  top: 50%;
  padding: 10px;
  border-radius: 3px;
  -webkit-box-shadow: 0 8px 16px -8px #adadad;
  -moz-box-shadow: 0 8px 16px -8px #adadad;
  box-shadow: 0 8px 16px -8px #adadad;
  cursor: pointer;
}

.viewOpen i {
  color: rgba(70, 70, 70, 0.8);
}

@media all and (max-width: 600px) {
  #timeDiv {
    margin-bottom: 20px;
  }
}

@media all and (min-width: 601px) {
  #timeDiv {
    margin-right: 15px;
  }
}

.dateTime {
  max-width: 320px;
  margin: 0 auto;
}

.day {
  display: inline-block;
  float: left;
}

.time {
  display: inline-block;
  float: right
}

.today {
  color: rgb(200, 85, 39);
  font-weight: 600;
}

@media all and (max-height: 420px) {
  #timeDiv, .viewOpen {
    top: 60%;
  }
}
/* view hours modal */

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(173, 173, 173, 0.5);
  display: none;
}

#modal-state {
  display: none;
}

#modal-state:checked + .modal-overlay {
  opacity: 1;
  animation: fade-in .4s;
  display: block;
}

.modal {
  position: absolute;
  margin: 0 auto;
  padding: 30px 25px;
  background: #fff;
  right: 0;
  left: 0;
  text-align: center;
  box-shadow: 0px 12px 24px rgba(0, 0, 0, 0.2);
  max-width: 400px;
  line-height: 1.8;
}



.modal h2 {
  margin-top: 0;
  line-height: 25px;
  font-size: 22px;
  border-bottom: 1px solid #dce0d8;
  margin-bottom: 10px;
  padding-bottom: 10px;
  font-weight: 400;
}

@media all and (max-width: 470px) {
  .modal {
    width: 75%;
  }
  .modal h2{
    font-size: 20px;
  }
}

#modal-state:checked + .modal-overlay .modal {
  top: 20%;
}

.modal-overlay-close {
  height: 100%;
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
}

.button-close {
  text-decoration: none;
  position: absolute;
  color: #fff;
  background: #464646;
  padding: 0px 7px;
  font-weight: bold;
  top: 0px;
  right: 0;
  cursor: pointer
}

footer .footer-top .foo-link tr td i {
	color: #cf9c67;
    display: inline-block;
    padding-right: 8px;
}
footer .footer-top .foo-link tr td  {
	color: #fff;
    opacity: 0.5;
    display: inline-block;
    transition: all 0.5s;
    font-size: 16px;
    margin-bottom: 5px;
}
footer .footer-top .foo-link tr td:nth-child(2)  {
	position: absolute;
    left: 160px;
    font-size: 13px;
    color: #fff;
    opacity: 1;
}
.shop-close {
	border: 1px solid #cf9c67;
    border-radius: 8px;
    padding: 2px 10px;
    line-height: 1.6;
    font-size: 11px !important;
    background: #cf9c67;
}
.img-box {
    height: 336px;
}
.blog-area-page.section {
    padding: 200px 0 60px 0;
}
.bootstrap-datetimepicker-widget table th {
	width: auto !important;
	height: auto !important;
    text-align: right;
    padding: 8px;
    font-size: 12px;
    margin: 3px;
}
.bootstrap-datetimepicker-widget table td.disabled {
    background: #ddd;
    color: #888;
}
.bootstrap-datetimepicker-widget table td.day {
	padding: 2px;
    font-size: 12px;
    margin: 3px;
}
.bootstrap-datetimepicker-widget .datepicker-days table tbody {
	float: right;
	width: 100%;
}
.bootstrap-datetimepicker-widget .datepicker-days table thead {
	float: left;
}
/* css changes end */
