@import "variables";
@import "mixin";
@import "cssTop";

.endUserBody{
	background: #f9f9f9;
}
.form-control.is-valid{
	box-shadow: 0 0 0 .2rem rgba(40,167,69,.25) !important;
}
.form-control.is-invalid{
	box-shadow: 0 0 0 .2rem rgba(220,53,69,.25) !important;
}

a{
	@include transition();
	&.colorRedish{
		color: $colorRedish;
		&:hover,
		&:focus{
			color: $colorBlack;
		}
	}
}
.img-responsivee{
	@include imageResponsive();
}
/* Start header */
.headerMain{
	position: absolute;
    z-index: 9; 
    top: 0;
    left: 0;
	width: 100%;
	.headerMainInner{
		padding: 10px 0;
		position: relative;
		.stickyLogo{
			display: none;
		}
		.navbar{
			padding: 0;
		}
		/*Menu Css*/
		.mainMenu{
			@include mediaQuery("tabletWide", max) {
				overflow-x: hidden;
			}
			ul{
				margin: 0;
				margin-right: -13px; 
				padding: 0;
				list-style: outside none none;
				text-align: center;
				@include mediaQuery("tabletWide", max) {
					text-align: left;
					position: absolute;
					z-index: 999;
					top: 100%;
					left: 0;
					visibility: hidden;
					width: 100%;
					transition: all .34s ease-in-out;
					opacity: 0;
					border: none;
					background: lighten($colorRedish, 45%);
					filter: alpha(opacity=0);
				}
				&.show{
					@include mediaQuery("tabletWide", max) {
						top: 100%; 
						visibility: visible;
						opacity: 1;
						filter: alpha(opacity=100);
						padding: 20px 0;
					}
					li{
						a{
							@include mediaQuery("tabletWide", max) {
								color: $colorDarkGrey;
							}
						}
						&.active{
							a{
								color: $colorRedish;
							}
						}
					}
				}
				li{
					position: relative; 
					display: inline-block;
					@include mediaQuery("tabletWide", max) {
						display: block;
					}
					a{
						font-size: 16px;
						font-weight: 500;
						display: block;
						padding: 0 10px;
						transition: all .34s ease-in-out; 
						text-transform: capitalize;
						color: $colorWhite;
						@include mediaQuery("desktopWide", max) {
							padding: 0 5px;
						}
						@include mediaQuery("tabletWide", max) {
							padding: 8px 20px;
						}
						&:hover,
						&:focus{
							text-decoration: none;
							outline: none;
						}
						&:hover{
							color: $colorYellow;
						}
					}
					&.active{
						a{
							color: $colorYellow;
						}
					}
					&:hover{
						a{
							@include mediaQuery("tabletWide", max) {
								color: $colorRedish;
								background: $colorWhite;
							}
						}
					}
				}
			}
			.mobile-menu{
				display: none;
				@include mediaQuery("tabletWide", max) {
					display: block;
					text-align: center;
				}
				.menu-click{
					position: static;
					width: 50px;
					height: 40px;
					@include flexCenter(column);
					cursor: pointer;
					@include mediaQuery("tabletSmall", max) {
						width: 30px;
						height: 20px;
					}
					span{
						display: block; 
						width: 35px;
						height: 4px;
						margin-bottom: 7px;
						background: $colorWhite;
						@include mediaQuery("tabletWide", max) {
							background: $colorRedish;
						}
						@include mediaQuery("tabletSmall", max) {
							height: 2px;
							margin-bottom: 6px;
						}
						&:last-child{
							margin: 0;
						}
					}
				}
			}//.mobile-menu
		}//.mainMenu
		@include mediaQuery("tabletWide", max) {
			.main-menu > ul > li:hover:before,
			.main-menu > ul > li:hover:after,
			.main-menu > ul > li.active:before,
			.main-menu > ul > li.active:after
			{
				visibility: hidden; 
				opacity: 0;
				-ms-filter: 'progid:DXImageTransform.Microsoft.Alpha(Opacity=0)';
					filter: alpha(opacity=0);
			}
		}
		&.headerMainSticky,
		&.headerMainStick{
			position: fixed;
			z-index: 99;
			top: 0;
			left: 0;

			width: 100%;

			background: $colorWhite; 
			box-shadow: 0 1px 10px 0 transparentize($colorDarkGrey, .9);
			.stickyLogo{
				display: block;
			}
			.brandLogo{
				display: none;
			}
			.mainMenu{
				ul{
					li{
						a{
							color: $colorDarkGrey;
							&:hover{
								color: $colorRedish;
							}
						}
						&.active{
							a{
								color: $colorRedish;
							}
						}
					}
				}
				.menu-click{
					span{
						background: $colorRedish;
					}
				}
			}
		}//.headerMainSticky

		.loginBtn{
			margin-left: 30px;
			font-size: 16px;
			font-weight: 600;
			line-height: 24px;
			padding: 9px 24px;
			color: $colorDarkGrey;
			background: $colorYellow;
			border-radius: 5px;
			@include mediaQuery("tabletSmall", max) {
				margin-left: 20px;
			}
			&.dropdown-toggle{
				&:after{
					border-top: 5px solid;
					border-right: 5px solid transparent;
					border-left: 5px solid transparent;
					margin-right: -10px;
					margin-left: 10px;
					vertical-align: 2px;
				}
			}
			&:hover{
				color: $colorBlack;
			}
		}//.loginBtn
	}//.headerMainInner
}//.headerMain

/* End header */

/* Start mainSection */
.mainSection{
	padding: 220px 0 140px 0;
	position: relative;
	background: url(../images/mainImg.svg) right top no-repeat;
	background-size: 100%;
	min-height: calc(100% - 51px);
	@include mediaQuery("desktopWide", max) {
		background-size: 130%;
		min-height: calc(100% - 72px);
	}
	@include mediaQuery("tabletWide", max) {
		background:none;
		height: auto;
		padding: 50px 0 30px 0;
		min-height: calc(100% - 93px);
	}
	&.endUser{
		height: auto;
		background: none;
		padding: 100px 0 40px;
	}
	&.loginPages{
		height: auto;
		padding: 100px 0 40px;
	}
	.mainSectionRowHeight{
		height: 100vh;
		@include mediaQuery("tabletWide", max) {
			height: auto;
			padding: 50px 0 0 0;
		}
	}
	h1{
		font-size: 70px;
		font-weight: 700;
		line-height: 90px;
		margin: 0 0 0;
		@include mediaQuery("tabletWide", max) {
			text-align: center;
			font-size: 50px;
		}
		@include mediaQuery("laptop", max) {
			font-size: 60px;
			line-height: 72px;
			margin: 80px 0 0;
		}
		@include mediaQuery("tabletSmall", max) {
			font-size: 40px;
		}
		br{
			@include mediaQuery("tabletWide", max) {
				display: none;
			}
		}
		&.loginSignupTitle{
			font-size: 40px;
			text-align: center;
			line-height: initial;
			@include mediaQuery("laptop", max) {
				margin: 0;
			}
		}
	}
	p{
		font-size: 18px;
		line-height: 28px;
		margin: 0 0 45px;
		color: $colorDarkGrey;
		@include mediaQuery("tabletWide", max) {
			text-align: center;
		}
		@include mediaQuery("tabletSmall", max) {
			font-size: 14px;
			margin-bottom: 20px;
		}
		&.loginSignupSubTitle{
			font-size: 15px;
			line-height: 25px;
			margin: 10px 0 5px;
			text-align: center;
		}
	}
	.pagesText{
		font-size: 14px;
		padding: 0 30px;
		@include mediaQuery("tabletWide", max) {
			padding: 0;
		}
		p{
			font-size: 14px;
			line-height: initial;
			margin-bottom: 15px;
			color: $colorDarkGrey;
			@include mediaQuery("tabletWide", max) {
				text-align: left;
			}
			@include mediaQuery("tabletSmall", max) {
				font-size: 13px;
			}
		}
		ul{
			li{
				color: $colorDarkGrey;
			}
		}
		h4{
			font-size: 18px;
		}
	}
	.selectionBoxMain{
		margin-bottom: 20px;
		padding: 25px;
		border-radius: 5px;
		background-color: $colorWhite;
		box-shadow: 0 10px 30px 0 transparentize($colorBlack, .9);
		position: relative;
		z-index: 1;
		&.signupSec{
			@include mediaQuery("tabletWide", max) {
				margin: 70px 0;
			}
		}
		.formDataMain{
			@include flexCenter(column, center, initial);
		}
		.singleInput{
			position: relative;
			border: 1px solid transparentize($colorBlack, .9);
			border-radius: 5px;
			background: none;
			box-shadow: 0 5px 10px 0 transparentize($colorBlack, .9);
			color: transparentize($colorBlack, .2);
			input{
				border: none;
			}
			select{
				font-size: 16px;
				height: 53px;
				padding-left: 48px;
				border: none;
				background: none;
				cursor: pointer;
				position: relative;
				z-index: 1;
			}
			.iconbadge{
				position: absolute;
				top: 50%;
				left: 20px;
				transform: translateY(-50%);
				color: transparentize($colorBlack, .2);
				font-size: 19px;
				margin-top: 2px;
			}
			.iconArrow{
				position: absolute;
				top: 50%;
				right: 20px;
				transform: translateY(-50%);
				color: transparentize($colorBlack, .2);
				font-size: 19px;
			}
		}
		.singleInputform{
			position: relative;
			border: 1px solid transparentize($colorBlack, .9);
			border-radius: 5px;
			background: none;
			box-shadow: 0 5px 10px 0 transparentize($colorBlack, .9);
			color: transparentize($colorBlack, .2);
			input{
				border: none;
			}
			select{
				font-size: 16px;
				height: 37px;
				padding-left: 35px;
				border: none;
				background: none;
				cursor: pointer;
				position: relative;
				z-index: 1;
			}
			.iconbadge{
				position: absolute;
				top: 50%;
				left: 12px;
				transform: translateY(-50%);
				color: transparentize($colorBlack, .2);
				font-size: 16px;
				margin-top: 2px;
			}
			.iconArrow{
				position: absolute;
				top: 50%;
				right: 12px;
				transform: translateY(-50%);
				color: transparentize($colorBlack, .2);
				font-size: 19px;
			}
		}
		.btnPlusMinus{
			border-radius: 5px;
			background: lighten($colorLightGrey, 1%);
			&.btn-decrement{
				border-top-right-radius: 0;
				border-bottom-right-radius: 0;
			}
			&.btn-increment{
				border-top-left-radius: 0;
				border-bottom-left-radius: 0;
			}
		}
		.calendarClickMenu{
			position: relative;
			z-index: 2;
			.calendarInnerText{
				line-height: 53px;
				color: transparentize($colorBlack, .2);
				font-size: 16px;
				padding: 0 18px;
				cursor: text;
				i{
					font-size: 19px;
					vertical-align: -2px;
					margin-right: 8px;
				}
				
			}
			.calendarClickMenuInner{
				display: none;
				position: absolute;
				left: 0;
				top: 100%;
				width: 100%;
				border: 1px solid transparentize($colorBlack, .9);
				border-radius: 10px;
				box-shadow: 0 5px 10px 0 transparentize($colorBlack, .9);
				&.show{
					display: block;
				}
			}
		}
		.formSubmitBtn{
			text-align: center;
			font-size: 21px;
			line-height: 40px;
			margin-top: 20px;
		}
		.loginGoSignup{
			padding: 30px 0 0 0;
			color: $colorGrey;
			text-align: center;
			font-size: 15px;
			a{
				background: $colorRedish;
				padding: 2px 8px;
				color: $colorWhite;
				border-radius: 4px;
				&:hover{
					background: lighten($colorRedish, 5%);
				}
			}
		}
	}
	
}
.vanilla-calendar{
	.vanilla-calendar-week{
		background-color: $colorDarkGrey;
		span{
			font-size: 11px;
			font-weight: 400;
			padding: 7px 0;
			border-right: transparentize($colorWhite, .8) 1px solid;
			letter-spacing: 1px;
		}
	}
	.vanilla-calendar-date--selected{
		background-color: $colorDarkGrey;
	}
}
/* End mainSection */

/* Start ourServicesSection */
.ourServicesSection{
	background: url(../images/dotbg.png) center center no-repeat;
	background-size: contain;
	padding: 85px 0;
	@include mediaQuery("tabletWide", max) {
		padding: 35px 0;
	}
	h2{
		font-size: 60px;
		font-weight: 700;
		margin: 0 0 20px;
		text-transform: capitalize;
		@include mediaQuery("tabletWide", max) {
			font-size: 50px;
		}
		@include mediaQuery("tabletSmall", max) {
			font-size: 40px;
		}
	}
	p{
		font-size: 16px;
		line-height: 26px;
		padding-bottom: 45px;
		@include mediaQuery("tabletSmall", max) {
			font-size: 14px;
			padding-bottom: 15px;
		}
	}
	.servicesBox{
		position: relative;
		margin-bottom: 30px;
		border-radius: 5px;
		overflow: hidden;
		box-shadow: 0 3px 14px 0 transparentize($colorDarkGrey, .85);
		background-color: $colorWhite;
		border-color: $colorDarkGrey;
		@include flexCenter(column, start, initial);
		@include transition();
		.servicesThumb{
			margin-bottom: 20px;
			width: 100%;
			height: 190px;
			background-size: cover;
			background-position: center;
		}
		.serviceInfoMain{
			padding: 0 30px;
		}
		.serviceInfoicon{
			font-size: 1.7em;
			color: $colorRedish;
			margin-right: 14px;
			margin-top: 5px;
		}
		.serviceInfoHeading{
			font-size: 13px;
			font-weight: 300;
			margin-bottom: 0;
			line-height: 1;
			text-align: left;
		}
		.booknowBtn{
			text-align: center;
			font-size: 18px;
			line-height: 35px;
			margin-top: 20px;
			padding: 5px 20px;
			width: 100%;
			margin-bottom: 30px;
		}
		.serviceInfoValue{
			font-size: 16px;
			text-align: left;
		}
		h4{
			font-size: 24px;
			font-weight: 700;
			text-align: left;
			margin: 0 30px 20px;
			text-transform: capitalize;
			@include mediaQuery("tabletWide", max) {
				margin: 0 15px 10px;
				font-size: 20px;
				font-weight: 600;
			}
		}
		p{
			font-size: 14px;
			line-height: 26px;
			margin: 0;
			padding: 0;
		}
		&:hover{
			box-shadow: 0 4px 14px 0 transparentize($colorDarkGrey, .8);
			.servicesThumb{
				img{
					animation: pulse 400ms ease-in-out;
				}
			}
		}
	}
}
/* End ourServicesSection */

/* Start gallerySection */
.gallerySection{
	padding: 120px 0;
	background: url(../images/albumBg.png) center center no-repeat;
	background-size: 100% 100%;
	@include mediaQuery("desktop", max) {
		background-image: linear-gradient(0deg, #880f37 0%, #c60854 100%);
		padding: 50px 0;
	}
	.galleryTitlesSection{
		text-align: center;
		h2{
			font-size: 60px;
			font-weight: 700;
			margin: 0 0 20px;
			text-transform: capitalize;
			color: $colorWhite;
			@include mediaQuery("tabletWide", max) {
				font-size: 50px;
			}
			@include mediaQuery("tabletSmall", max) {
				font-size: 40px;
			}
		}
		p{
			font-size: 16px;
			line-height: 26px;
			color: $colorWhite;
			@include mediaQuery("tabletWide", max) {
				font-size: 14px;
				font-weight: 300;
			}
		}
	}

	/*Portfolio Css*/
	.filterList{
		margin: 0;
		margin-bottom: 38px; 
		padding: 0;
		list-style: none;
		text-align: center;
		li{
			font-size: 14px;
			font-weight: 600;
			position: relative;
			z-index: 1;
			display: inline-block;
			margin-right: 10px;
			padding: 17px 31px;
			cursor: pointer; 
			@include transition();
			text-transform: uppercase;
			color: $colorWhite;
			border: 1px solid transparentize($colorWhite, .8);
			border-radius: 5px;
			background-color: transparentize($colorRedish, .5);
			box-shadow: 0 13px 40px 0 transparentize($colorBlack, .8);
			@include mediaQuery("desktopWide", max) {
				padding: 14px 20px;
			}
			@include mediaQuery("tabletWide", max) {
				margin: 5px;
			}
			&.active,
			&:hover{
				border: 1px solid transparent; 
				background-color: transparent;
				color: $colorBlack;
				&:after{
					position: absolute;
					z-index: -1; 
					top: 0;
					left: 0;
					width: 100%;
					height: 100%;
					content: '';
					@include transition();
					border-radius: 5px;
					background-image: linear-gradient(90deg, #dba80e 0%, $colorYellow 100%);
				}
			}
			&:last-child{
				margin-right: 0;
			}
		}//li
	}//.filterList

	.portfolioBox{
		position: relative;
		z-index: 1; 
		height: 260px;
		margin-bottom: 30px;
		border-radius: 5px;
		background-repeat: no-repeat;
		background-position: center center;
		background-size: cover;
		.portfolioBoxInnerContent{
			position: absolute;
			bottom: 15px;
			left: 0;
			width: 100%;
			text-align: center;
			h6{
				font-size: 18px;
				color: $colorWhite;
			}
			p{
				color: $colorWhite;
				span{
					font-size: 14px;
					color: $colorWhite;
				}
			}
		}
		&:after{
			position: absolute;
			z-index: -1; 
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			content: '';
			border-radius: 5px;
			background-image: linear-gradient(360deg, $colorBlack 0%, rgba(0, 0, 0, .58) 36%, rgba(255, 255, 255, 0) 100%, $colorWhite 100%);
		}
	}//.portfolioBox
}
/* End gallerySection */
/* Start contactSection */
.contactSection{
	position: relative;
    z-index: 1;
	background: url(../images/dotbg.png) center center no-repeat;
	background-size: contain;
	padding: 85px 0;
	h2{
		font-size: 60px;
		font-weight: 700;
		margin: 0 0 20px;
		text-transform: capitalize;
		@include mediaQuery("tabletWide", max) {
			font-size: 50px;
			text-align: center;
		}
		@include mediaQuery("tabletSmall", max) {
			font-size: 40px;
		}
	}
	p{
		font-size: 16px;
		line-height: 26px;
		padding-bottom: 45px;
		@include mediaQuery("tabletWide", max) {
			text-align: center;
		}
		@include mediaQuery("tabletSmall", max) {
			font-size: 14px;
			padding-bottom: 15px;
			line-height: 20px;
		}
	}

	.contactImgMain{
		position: absolute;
		top: 50%;
		right: 0;
		width: 749px;
		height: 585px;
		transform: translateY(-50%);
		background: url(../images/contactImg.svg) center center no-repeat;
		background-size: contain;
		@include mediaQuery("lcdWide", max) {
			width: 550px;
		}
		@include mediaQuery("desktopWide", max) {
			width: 450px;
		}
		@include mediaQuery("tabletWide", max) {
			display: none;
		}
	}//.contactImgMain
}//.contactSection
.contactMapArea{
	position: relative;
	.contactThreeColumns{
		position: relative;
		z-index: 1;
		margin-bottom: 30px;
		display: block;
		padding:22px 25px;
		border-radius: 5px;
		background-color: $colorWhite;
		box-shadow: 0 0px 10px 0 transparentize($colorBlack, .9), 0 10px 10px 0 transparentize($colorBlack, .85);
		text-align: center;
		min-height: calc(100% - 30px);
		
		.iconThumb{
			max-width: 100%;
			height: auto;
			margin-right: 0;
			margin-bottom: 20px;
			-webkit-box-flex: 0;
			-webkit-flex: 0 0 100%;
			-ms-flex: 0 0 100%;
			flex: 0 0 100%;
			img{
				@include transition();
			}
		}
		.iconboxContent{
			h5{
				margin: 0 0 20px;
				font-size: 24px;
				font-weight: 600;
			}
			p{
				font-size: 14px;
				margin: 0;
				line-height: 26px;
			}
		}
		.contactSocial{
			margin: 0;
			padding: 0;
			list-style: none;
			li{
				position: relative;
				z-index: 1;
				display: inline-block;
				padding-right: 10px;
				@include mediaQuery("tablet", max) {
					padding-right: 8px;
				}
				&:last-child{
					padding-right: 0;
				}
				a{
					position: relative;
					z-index: 1; 
					display: block;
					@include transition();
					color: $colorDarkGrey;
					font-size: 14px; 
					line-height: 30px;
					width: 30px;
					height: 30px;
					text-align: center;
					border: 1px solid $colorDarkGrey;
					border-radius: 50%;
					&:after{
						position: absolute;
						z-index: -1;
						top: 0;
						left: 0;
						visibility: hidden; 
						width: 100%;
						height: 100%;
						content: '';
						@include transition();
						opacity: 0;
						border-radius: 50%;
						background: linear-gradient(8deg, #5f181c 0%, #c00951 100%);
						filter: alpha(opacity=0);
					}
					&:hover{
						color: $colorWhite;
						border: transparent;
						&:after{
							visibility: visible;
							animation: zoomIn .34s ease-in-out; 
							opacity: 1;
							filter: alpha(opacity=100);
						}
					}
				}
			}
		}
		
		&:hover{
			.iconThumb{
				img{
					animation: rotate-in-2-fwd .6s cubic-bezier(.25, .46, .45, .94) both;
				}
			}
		}
		@keyframes rotate-in-2-fwd{
			0%
			{
				-webkit-transform: translateZ(-200px) rotate(-45deg);
						transform: translateZ(-200px) rotate(-45deg);

				opacity: 0;
			}
			100%
			{
				-webkit-transform: translateZ(0) rotate(0);
						transform: translateZ(0) rotate(0);

				opacity: 1;
			}
		}
	}
	.googleMap{
		iframe{
			position: relative;
			margin-top: -160px;
		}
	}
}
/* End contactSection */

footer{
	padding: 15px 0;
	background: $colorDarkGrey;
	.copyrightText{
		font-size: 14px;
		color: $colorWhite;
		@include mediaQuery("tabletWide", max) {
			text-align: center;
		}
		a{
			color: $colorRedish;
		}
	}
}
.signUpWithSocial{
	border-top: $colorLightGrey 2px solid;
	margin-top: 34px;
	padding: 20px 0 0 0;
	text-align: center;
	h3{
		font-size: 21px;
		font-weight: 700;
		margin-bottom: 30px;
	}
}
.btnGoogle{
	color: $colorWhite;
	background: $colorGoogle;
	border: none;
	padding: 12px 30px;
	font-size: 18px;
	width: 100%;
	i{
		font-size: 29px;
		vertical-align: -6px;
		margin-right: 6px;
	}
	&:hover,
	&:active,
	&:focus{
		background: lighten($colorGoogle, 15%);
	}
}
.btnFacebook{
	color: $colorWhite;
	background: $colorFacebook;
	border: none;
	padding: 12px 30px;
	font-size: 18px;
	width: 100%;
	i{
		font-size: 29px;
		vertical-align: -6px;
		margin-right: 6px;
	}
	&:hover,
	&:active,
	&:focus{
		background: lighten($colorFacebook, 15%);
	}
}

@import "datepicker";
.afterContinueMain{
	.afterContinue{
		@include flexCenter(row, center, flex-start);
		.serviceImg{
			width: 170px;
			margin-right: 20px;
		}
		.serviceDetail{
			flex: 1;
			font-size: 14px;
			color: $colorGrey;
			margin: 0;
			padding: 0;
			list-style: none;
			li{
				padding: 3px 12px;
				font-size: 13px;
				color: $colorGrey;
				background: $colorLightGrey;
				border-radius: 3px;
				margin: 2px 0;
				.labels{
					min-width: 105px;
					font-weight: 600;
					color: $colorBlack;
					display: inline-block;
					font-size: 13px;
				}
				&:first-child{
					background: none;
				}
				&:last-child{
					font-size: 19px;
					font-weight: 700;
					color: $colorRedish;
				}
				h5{
					color: $colorRedish;
				}
			}
		}
	}
}
/* Start Profile Settings */
.profileSetting{
    padding:0;
    .profileTitle{
        margin: 0;
        font-size: 24px;
        padding: 0 0 10px 0;
		border-bottom: #d7d7d7 2px solid;
		line-height: initial;
    }
    .profileTabList{
        padding: 20px 0 0 0;
        a{
            &.nav-link{
                border: none;
                border-radius: 4px;
                display: block;
                padding: .5rem 1rem;
                &.active{
                    background: $colorRedish;
                    color: $colorWhite;
                }
            }
        }
        .profileTabsColumn{
            padding-left:15px;
            @include mediaQuery("tablet", min) {
                flex-direction: column;
            }
        }
    }
}
.openFileBtn {
	position: relative;
    overflow: hidden;
    input[type=file] {
        width:100%;
        height:100%;
        position: absolute;
        left: 0;
        top: 0;
        opacity: 0;
        cursor:pointer;
    }
}

.accountLinked{
	font-size: 0.93em;
    padding: 12px;
    background: $colorWhite;
	border-radius: 3px;
	box-shadow: 0 1px 3px #e1e1e1;
    margin-top: 15px;
    h3{
        font-weight: 600;
        padding-bottom: 5px;
        display: inline-block;
        font-size: 1em;
        margin:0;
        color: $colorGrey;
        a{
            font-weight: normal;
            margin-left: 5px;
            font-size: small;
        }
    }
}

/* End Profile Settings */
.stage {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    padding: 0;
    margin: 0 -4%;
	overflow: hidden;
	height: 40px;
}
.dot-floating {
	position: relative;
	width: 10px;
	height: 10px;
	border-radius: 5px;
	background-color: $colorWhite;
	color: $colorWhite;
	animation: dot-floating 3s infinite cubic-bezier(0.15, 0.6, 0.9, 0.1);
}

.dot-floating::before, .dot-floating::after {
	content: '';
	display: inline-block;
	position: absolute;
	top: 0;
}

.dot-floating::before {
	left: -12px;
	width: 10px;
	height: 10px;
	border-radius: 5px;
	background-color: $colorWhite;
	color: $colorWhite;
	animation: dot-floating-before 3s infinite ease-in-out;
}

.dot-floating::after {
	left: -24px;
	width: 10px;
	height: 10px;
	border-radius: 5px;
	background-color: $colorWhite;
	color: $colorWhite;
	animation: dot-floating-after 3s infinite cubic-bezier(0.4, 0, 1, 1);
}

@keyframes dot-floating {
	0% {
		left: calc(-50% - 5px);
	}
	75% {
		left: calc(50% + 105px);
	}
	100% {
		left: calc(50% + 105px);
	}
}

@keyframes dot-floating-before {
	0% {
		left: -50px;
	}
	50% {
		left: -12px;
	}
	75% {
		left: -50px;
	}
	100% {
		left: -50px;
	}
}

@keyframes dot-floating-after {
	0% {
		left: -100px;
	}
	50% {
		left: -24px;
	}
	75% {
		left: -100px;
	}
	100% {
		left: -100px;
	}
}
/* Image viewer */
.imageViewer {
	text-align: center;
	position: relative;
	min-height: 72px;
	overflow: hidden;
	margin-bottom: 20px;
}

.imageViewer .imageViewerContainer {
	/* display: block; */
	margin: 0 auto;
	position: relative;
	display: inline-block;
	vertical-align: middle;
}

.imageViewer .imageViewerContainer.cursorZoomIn {
	cursor: -webkit-zoom-in;
	cursor: zoom-in;
	max-height: 616px;
	max-width: 924px;
}

.imageViewer .imageViewerContainer.cursorZoomOut {
	cursor: -webkit-zoom-out;
	cursor: zoom-out;
	max-width: 100%;
}

/* Image viewer */
.footerNav{
	text-align: right;
	font-size: 14px;
	@include mediaQuery("tabletWide", max) {
		text-align: center;
	}
	a{
		padding: 0 8px;
		color: $colorWhite;
		&:hover{
			color: #f59;
		}
	}
}

/**/
.blogCard{
	border: 0;
	margin-bottom: 30px;
	margin-top: 30px;
	border-radius: 6px;
	color: $colorGrey;
	background: $colorWhite;
	width: 100%;
	box-shadow: 0 1px 15px 0 rgba(0,0,0,.14);
	min-height: calc(100% - 60px);
	.card-header{
		margin: -30px 10px 0 10px;
		transition: all .3s cubic-bezier(.34,1.61,.7,1);
		transform: translateZ(0);
		position: relative;
		padding: 0;
		z-index: 1;
		border-radius: 6px;
		height: 250px;
		a{
			position: absolute;
			left: 0;
			height: 100%;
			width: 100%;
			background-position: center center;
			background-size: cover;
			background-repeat: no-repeat;
			display: block;
			box-shadow: 0 5px 15px -8px rgba(0,0,0,.24),0 8px 10px -5px rgba(0,0,0,.2);
			border-radius: 6px;
		}
	}
	.card-body{
		padding: .9375rem 20px;
		position: relative;
		.card-description{
			p{
				margin-bottom: 0;
				font-size: 13px;
			}
		}
	}
	.card-footer{
		padding: 7px 0 0;
		margin: 0 15px 0;
		border-radius: 0;
		@include flexCenter(row, space-between, center);
		background: none;
		border-top: 1px solid $colorLightGrey;
		.cardDate{
			font-size: 11px;
			color: lighten($colorGrey, 30%);
			margin-bottom: 8px;
		}
		.moreLink{
			display: inline-block;
			position: relative;
			top: -4px;
			color: $colorRedish;
			font-size: 14px;
			&:hover,
			&:focus,
			&:active{
				color: $colorGrey;
			}
			i{
				vertical-align: -1px;
			}
		}
	}
	&:hover{
		.card-header{
			transform: translate3d(0,-5px,0);
		}
	}
}
/**/
.singleImageSocial{
	@include clearfix;
	.singleImgShareIcon{
		width: 30px;
		height: 30px;
		display: inline-block;
		color: #fff;
		text-align: center;
		line-height: 30px;
		border-radius: 100px;
		margin: -6px 3px 0 3px;
		font-size: 16px;
		vertical-align: top;
		padding: 0;
		cursor: pointer;
		&:focus,
		&:hover{
			color:#fff;    
		}
		&.iconFb{
			background: #3b5998;
			&:hover{
				background: #32508d;
			}
		}
		&.iconTwt{
			background: #55acee;
			&:hover{
				background: #4197d8;
			}
		}
		&.iconGgp{
			background: #D74836;
			font-size: 19px;
			&:hover{
				background: #B9392A;
			}
		}
		&.iconPin{
			background: #bd081c;
			&:hover{
				background: #800613;
			}
		}
		&.iconRdt{
			background: #f54b00;
			font-size: 18px;
			&:hover{
				background: #d44100;
			}
		}
	}
}
/**/
.btn-bitbucket {
    color: $colorWhite;
    background-color: #205081;
    border-color: rgba(0, 0, 0, 0.2);
    &:hover,
    &:focus,
    &:active,
    &.active{
        color: $colorWhite;
        background-color: #183c60;
        border-color: rgba(0, 0, 0, 0.2);
    }
}
.btn-dropbox {
    color: $colorWhite;
    background-color: #1087dd;
    border-color: rgba(0, 0, 0, 0.2);
    &:hover,
    &:focus,
    &:active,
    &.active{
        color: $colorWhite;
        background-color: #0d70b7;
        border-color: rgba(0, 0, 0, 0.2);
    }
}

.btn-facebook {
    color: $colorWhite;
    background-color: #3b5998;
    border-color: rgba(0, 0, 0, 0.2);
    &:hover,
    &:focus,
    &:active,
    &.active{
        color: $colorWhite;
        background-color: #30487b;
        border-color: rgba(0, 0, 0, 0.2);
    }
}

.btn-flickr {
    color: $colorWhite;
    background-color: #ff0084;
    border-color: rgba(0, 0, 0, 0.2);
    &:hover,
    &:focus,
    &:active,
    &.active{
        color: $colorWhite;
        background-color: #d6006f;
        border-color: rgba(0, 0, 0, 0.2);
    }
}

.btn-github {
    color: $colorWhite;
    background-color: #444;
    border-color: rgba(0, 0, 0, 0.2);
    &:hover,
    &:focus,
    &:active,
    &.active{
        color: $colorWhite;
        background-color: #303030;
        border-color: rgba(0, 0, 0, 0.2);
    }
}

.btn-google-plus {
    color: $colorWhite;
    background-color: #dd4b39;
    border-color: rgba(0, 0, 0, 0.2);
    &:hover,
    &:focus,
    &:active,
    &.active{
        color: $colorWhite;
        background-color: #ca3523;
        border-color: rgba(0, 0, 0, 0.2);
    }
    :first-child{
        font-size: 25px;
    }
}

.btn-instagram {
    color: $colorWhite;
    background-color: #cf2a7a;
    border-color: rgba(0, 0, 0, 0.2);
    &:hover,
    &:focus,
    &:active,
    &.active{
        color: $colorWhite;
        background-color: #b91665;
        border-color: rgba(0, 0, 0, 0.2);
    }
}

.btn-linkedin {
    color: $colorWhite;
    background-color: #007bb6;
    border-color: rgba(0, 0, 0, 0.2);
    &:hover,
    &:focus,
    &:active,
    &.active{
        color: $colorWhite;
        background-color: #005f8d;
        border-color: rgba(0, 0, 0, 0.2);
    }
}

.btn-pinterest {
    color: $colorWhite;
    background-color: #cb2027;
    border-color: rgba(0, 0, 0, 0.2);
    &:hover,
    &:focus,
    &:active,
    &.active{
        color: $colorWhite;
        background-color: #a81a20;
        border-color: rgba(0, 0, 0, 0.2);
    }
}

.btn-tumblr {
    color: $colorWhite;
    background-color: #2c4762;
    border-color: rgba(0, 0, 0, 0.2);
    &:hover,
    &:focus,
    &:active,
    &.active{
        color: $colorWhite;
        background-color: #1f3346;
        border-color: rgba(0, 0, 0, 0.2);
    }
}

.btn-twitter {
    color: $colorWhite;
    background-color: #2ba9e1;
    border-color: rgba(0, 0, 0, 0.2);
    &:hover,
    &:focus,
    &:active,
    &.active{
        color: $colorWhite;
        background-color: #1c92c7;
        border-color: rgba(0, 0, 0, 0.2);
    }
}

.btn-vk {
    color: $colorWhite;
    background-color: #587ea3;
    border-color: rgba(0, 0, 0, 0.2);
    &:hover,
    &:focus,
    &:active,
    &.active{
        color: $colorWhite;
        background-color: #4a6a89;
        border-color: rgba(0, 0, 0, 0.2);
    }
}
/**/
.singlePost{
	.singlePostImageMain{
		position: relative;
		height: 500px;
		margin-bottom: 20px;
		.singlePostImage{
			position: absolute;
			left: 0;
			height: 100%;
			width: 100%;
			background-position: center center;
			background-size: cover;
			background-repeat: no-repeat;
			display: block;
			box-shadow: 0 5px 15px -8px rgba(0,0,0,.24),0 8px 10px -5px rgba(0,0,0,.2);
			border-radius: 6px;
		}
	}
	h3{
		font-size: 25px;
		font-weight: 700;
		color: $colorBlack;
		margin-bottom: 4px;
	}
	.singlePostDate{
		font-size: 12px;
		color: lighten($colorGrey, 10%);
		margin-bottom: 15px;
	}
	.singlePostDesc{
		font-size: 14px;
		line-height: 18px;
		color: $colorGrey;
		p{
			font-size: 14px;
			line-height: 20px;
			color: $colorGrey;
			margin-bottom: 10px;
		}
	}
}

.StripeElement {
box-sizing: border-box;

height: 40px;

padding: 10px 12px;

border: 1px solid transparent;
border-radius: 4px;
background-color: white;

box-shadow: 0 1px 3px 0 #e6ebf1;
-webkit-transition: box-shadow 150ms ease;
transition: box-shadow 150ms ease;
position: relative;
			border: 1px solid transparentize($colorBlack, .9);
			border-radius: 5px;
			background: none;
			box-shadow: 0 5px 10px 0 transparentize($colorBlack, .9);
			color: transparentize($colorBlack, .2);
}

.StripeElement--focus {
box-shadow: 0 1px 3px 0 #cfd7df;
}

.StripeElement--invalid {
border-color: #fa755a;
}

.StripeElement--webkit-autofill {
background-color: #fefde5 !important;
}

/**/
.selectAgentMain{
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	align-items: stretch;
	.agentItem{
		margin-bottom: 0%;
		margin-top: 2%;
		flex: 0 0 18%;
		margin-left: 2%;
		cursor: pointer;
		user-select: none;

		&:nth-child(1),
		&:nth-child(2),
		&:nth-child(3),
		&:nth-child(4),
		&:nth-child(5){
			margin-top: 0px;
		}
		&:first-child{
			margin-left: auto;
		}
		&:nth-child(5n+1){
			margin-left: 0px;
		}
		&:last-child{
			margin-right: auto;
		}
		&.agentsAnim{
			&:hover{
				.agentItemInner{
					.avatar{
						transform-origin: center center;
						transform: translateY(-8px) scale(0.9);
					}
					.avatarName{
						transform: translateY(-14px);
					}
					.viewDetail{
						opacity: 1;
						transform: translateY(-12px);
					}
				}
			}
		}
		.agentItemInner{
			position: relative;
			height: 100%;
			border-radius: 4px;
			display: block;
			padding: 10px;
			background: #FFFFFF;
			border: 2px solid #E5E7EE;
			box-shadow: none;
			outline: none;
			color: #1f222b;
			text-decoration: none;
			@include transition();
			&:hover{
				border-color: #4b64e8;
			}
		}
		.avatar{
			padding: 2px 15px 2px;
			height: auto;
			margin: 0px;
			@include transition();
			background-size: contain;
			background-repeat: no-repeat;
			background-position: center center;
			text-align: center;
			display: block;
			.avatarBg{
				background-size: cover;
				background-position: center center;
				padding-bottom: 100%;
				border-radius: 50%;
			}
		}
		.avatarName{
			@include transition();
			position: relative;
			padding: 5px 0px;
			font-weight: 400;
			font-size: 14px;
			text-align: center;
			text-overflow: ellipsis;
			white-space: nowrap;
			overflow: hidden;
			max-width: 75px;
			margin: 0 auto;
		}
		.viewDetail{
			cursor: pointer;
			font-size: 12px;
			color: $colorWhite;
			padding: 5px 0px;
			font-weight: 500;
			cursor: pointer;
			opacity: 0;
			position: absolute;
			bottom: -5px;
			left: 0px;
			right: 0px;
			max-width: 100%;
			z-index: 1;
			border: none;
			color: #2d54de;
			@include transition();
			text-align: center;
			span{
				border-bottom: 1px dotted rgba(45,84,222,0.5);
				&:hover{
					border-bottom-style: solid;
					color: darken(#2d54de, 5%);
				}
			}
		}
		input {
			position: absolute;
			opacity: 0;
			cursor: pointer;
			height: 0;
			width: 0;
			&:checked ~ .agentItemInner {
				border-color: #4b64e8;
			}
		}
		input[type="radio"][disabled] + .agentItemInner {
			position: relative;
			border: 2px solid #ECEEF5;
			&:after{
				content: 'Booked';
				font-size: 12px;
				font-weight: 600;
				color: $colorRedish;
				position: absolute;
				left: 50%;
				top: 50%;
				transform: translate(-50%,-50%);
				opacity: 1;
				z-index: 0;
				background: rgb(255, 255, 255);
				box-shadow: 0 2px 5px rgba(0,0,0,.4);
				border-radius: 3px;
				padding: 2px 7px;
			}
			&:hover{
				border: 2px solid #ECEEF5;
			}
			.avatar{
				opacity: 0.5;
				transform-origin: center center;
				transform: initial;
			}
			.avatarName{
				opacity: 0.5;
				transform: initial;
			}
			.viewDetail{
				display: none;
				transform: initial;
			}
		}
		
	}
}
.agentModal{
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	z-index: 2;
	background-color: #f0f0f0;
	box-shadow: 0 10px 30px 0 rgba(0,0,0,0.051);
	border-radius: 5px;
	cursor: default;
	overflow: auto;
	animation: 0.4s cubic-bezier(0.45, 1.3, 0.6, 1) 0s both agentBio;
	display: none;
	&.active{
		display: block;
	}
	.agentModalInner{
		.closeModalBtn{
			position: absolute;
			top: 0px;
			right: 0px;
			background-color: $colorRedish;
			color: $colorWhite;
			padding: 10px;
			font-size: 12px;
			font-weight: 500;
			z-index: 9999;
			cursor: pointer;
			&:hover{
				background-color: lighten($colorRedish, 5%);
			}
		}
		position: relative;
		.agentModalHeader{
			@include flexCenter(column);
			padding: 20px;
			img{
				width: 100px;
				height: 100px;
				margin-bottom: 6px;
			}
			h3{
				font-size: 20px;
				font-weight: 700;
				color: $colorBlack;
			}
		}
		.userColumns{
			padding: 15px;
			background: #eaeaea;
			margin: 0 20px;
			border-radius: 5px;
			h4{
				font-size: 25px;
				color: $colorRedish;
				font-weight: 600;
				margin: 0;
				line-height: 1;
			}
			span{
				color: #6b7082;
				font-size: 12px;
				font-weight: 300;
			}
		}
		.agentDetails{
			font-size: 15px;
			line-height: 19px;
			color: $colorBlack;
			margin: 20px;
		}
	}
}
@keyframes agentBio {
	0% {
		transform: scale(0.8);
		opacity: 0;
	}
	100% {
		transform: scale(1);
		opacity: 1;
	}
}
.paypal-button-container, #zoid-paypal-buttons-a91a206aaf_mti6ndq6mzq{
	max-width: 100% !important;
}
/* loader for paypal */
.loading {
	position: fixed;
	z-index: 999;
	height: 2em;
	width: 2em;
	overflow: show;
	margin: auto;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
}
.loading:before {
	content: '';
	display: block;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: radial-gradient(rgba(20, 20, 20,.8), rgba(0, 0, 0, .8));
	background: -webkit-radial-gradient(rgba(20, 20, 20,.8), rgba(0, 0, 0,.8));
}

.loading:not(:required) {
	/* hide "loading..." text */
	font: 0/0 a;
	color: transparent;
	text-shadow: none;
	background-color: transparent;
	border: 0;
}
  
.quotationText {
	word-break: normal;
	font-weight: 400;
	font-size: 15px;
}
  
.loading:not(:required):after {
	content: '';
	display: block;
	font-size: 10px;
	width: 1em;
	height: 1em;
	margin-top: -0.5em;
	animation: spinner 150ms infinite linear;
	border-radius: 0.5em;
	box-shadow: rgba(255,255,255, 0.75) 1.5em 0 0 0, rgba(255,255,255, 0.75) 1.1em 1.1em 0 0, rgba(255,255,255, 0.75) 0 1.5em 0 0, rgba(255,255,255, 0.75) -1.1em 1.1em 0 0, rgba(255,255,255, 0.75) -1.5em 0 0 0, rgba(255,255,255, 0.75) -1.1em -1.1em 0 0, rgba(255,255,255, 0.75) 0 -1.5em 0 0, rgba(255,255,255, 0.75) 1.1em -1.1em 0 0;
}
  
/* Animation */
@keyframes spinner {
	0% {
		-webkit-transform: rotate(0deg);
		-moz-transform: rotate(0deg);
		-ms-transform: rotate(0deg);
		-o-transform: rotate(0deg);
		transform: rotate(0deg);
	}
	100% {
		-webkit-transform: rotate(360deg);
		-moz-transform: rotate(360deg);
		-ms-transform: rotate(360deg);
		-o-transform: rotate(360deg);
		transform: rotate(360deg);
	}
}