*, body {
  font-family: "Poppins", sans-serif;
}

body {
  overflow-x: hidden;
  background: white;
  font-size: 14px;
}

html, body {
  height: 100%;
}

body, p, form, input, h1, h2, h3, h4, h5, h6, p, form, ul, li, ol, article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  font-family: "Poppins", sans-serif;
  color: black;
}

a {
  color: black;
  text-decoration: none;
  font-family: "Poppins", sans-serif;
}

a:hover, a:focus, a:active {
  text-decoration: none;
  color: #c83665;
}

button, a, input, textarea {
  outline: 0 !important;
}

/* Margin */
.m-all-0 {
  margin: 0px !important;
}

.m-all-10 {
  margin: 10px !important;
}

.m-all-20 {
  margin: 20px !important;
}

.m-all-30 {
  margin: 30px !important;
}

.m-all-40 {
  margin: 40px !important;
}

.m-l-0 {
  margin-left: 0px !important;
}

.m-r-0 {
  margin-right: 0px !important;
}

.m-t-0 {
  margin-top: 0px !important;
}

.m-b-0 {
  margin-bottom: 0px !important;
}

.m-l-1 {
  margin-left: 1px !important;
}

.m-l-2 {
  margin-left: 2px !important;
}

.m-l-3 {
  margin-left: 3px !important;
}

.m-l-4 {
  margin-left: 4px !important;
}

.m-l-5 {
  margin-left: 5px !important;
}

.m-l-6 {
  margin-left: 6px !important;
}

.m-l-7 {
  margin-left: 7px !important;
}

.m-l-8 {
  margin-left: 8px !important;
}

.m-l-9 {
  margin-left: 9px !important;
}

.m-r-1 {
  margin-right: 1px !important;
}

.m-r-2 {
  margin-right: 2px !important;
}

.m-r-3 {
  margin-right: 3px !important;
}

.m-r-4 {
  margin-right: 4px !important;
}

.m-r-5 {
  margin-right: 5px !important;
}

.m-r-6 {
  margin-right: 6px !important;
}

.m-r-7 {
  margin-right: 7px !important;
}

.m-r-8 {
  margin-right: 8px !important;
}

.m-r-9 {
  margin-right: 9px !important;
}

.m-t-1 {
  margin-top: 1px !important;
}

.m-t-2 {
  margin-top: 2px !important;
}

.m-t-3 {
  margin-top: 3px !important;
}

.m-t-4 {
  margin-top: 4px !important;
}

.m-t-5 {
  margin-top: 5px !important;
}

.m-t-6 {
  margin-top: 6px !important;
}

.m-t-7 {
  margin-top: 7px !important;
}

.m-t-8 {
  margin-top: 8px !important;
}

.m-t-9 {
  margin-top: 9px !important;
}

.m-b-1 {
  margin-bottom: 1px !important;
}

.m-b-2 {
  margin-bottom: 2px !important;
}

.m-b-3 {
  margin-bottom: 3px !important;
}

.m-b-4 {
  margin-bottom: 4px !important;
}

.m-b-5 {
  margin-bottom: 5px !important;
}

.m-b-6 {
  margin-bottom: 6px !important;
}

.m-b-7 {
  margin-bottom: 7px !important;
}

.m-b-8 {
  margin-bottom: 8px !important;
}

.m-b-9 {
  margin-bottom: 9px !important;
}

.m-l-10 {
  margin-left: 10px !important;
}

.m-r-10 {
  margin-right: 10px !important;
}

.m-t-10 {
  margin-top: 10px !important;
}

.m-b-10 {
  margin-bottom: 10px !important;
}

.m-l-15 {
  margin-left: 15px !important;
}

.m-r-15 {
  margin-right: 15px !important;
}

.m-t-15 {
  margin-top: 15px !important;
}

.m-b-15 {
  margin-bottom: 15px !important;
}

.m-l-20 {
  margin-left: 20px !important;
}

.m-r-20 {
  margin-right: 20px !important;
}

.m-t-20 {
  margin-top: 20px !important;
}

.m-b-20 {
  margin-bottom: 20px !important;
}

.m-l-25 {
  margin-left: 25px !important;
}

.m-r-25 {
  margin-right: 25px !important;
}

.m-t-25 {
  margin-top: 25px !important;
}

.m-b-25 {
  margin-bottom: 25px !important;
}

.m-l-30 {
  margin-left: 30px !important;
}

.m-r-30 {
  margin-right: 30px !important;
}

.m-t-30 {
  margin-top: 30px !important;
}

.m-b-30 {
  margin-bottom: 30px !important;
}

.m-l-35 {
  margin-left: 35px !important;
}

.m-r-35 {
  margin-right: 35px !important;
}

.m-t-35 {
  margin-top: 35px !important;
}

.m-b-35 {
  margin-bottom: 35px !important;
}

.m-l-40 {
  margin-left: 40px !important;
}

.m-r-40 {
  margin-right: 40px !important;
}

.m-t-40 {
  margin-top: 40px !important;
}

.m-b-40 {
  margin-bottom: 40px !important;
}

.m-l-45 {
  margin-left: 45px !important;
}

.m-r-45 {
  margin-right: 45px !important;
}

.m-t-45 {
  margin-top: 45px !important;
}

.m-b-45 {
  margin-bottom: 45px !important;
}

.m-l-50 {
  margin-left: 40px !important;
}

.m-r-50 {
  margin-right: 40px !important;
}

.m-t-50 {
  margin-top: 40px !important;
}

.m-b-50 {
  margin-bottom: 40px !important;
}

/* Padding */
.p-all-0 {
  padding: 0px !important;
}

.p-all-10 {
  padding: 10px !important;
}

.p-all-20 {
  padding: 20px !important;
}

.p-all-30 {
  padding: 30px !important;
}

.p-all-40 {
  padding: 40px !important;
}

.p-l-0 {
  padding-left: 0px !important;
}

.p-r-0 {
  padding-right: 0px !important;
}

.p-t-0 {
  padding-top: 0px !important;
}

.p-b-0 {
  padding-bottom: 0px !important;
}

.p-l-1 {
  padding-left: 1px !important;
}

.p-l-2 {
  padding-left: 2px !important;
}

.p-l-3 {
  padding-left: 3px !important;
}

.p-l-4 {
  padding-left: 4px !important;
}

.p-l-5 {
  padding-left: 5px !important;
}

.p-l-6 {
  padding-left: 6px !important;
}

.p-l-7 {
  padding-left: 7px !important;
}

.p-l-8 {
  padding-left: 8px !important;
}

.p-l-9 {
  padding-left: 9px !important;
}

.p-r-1 {
  padding-right: 1px !important;
}

.p-r-2 {
  padding-right: 2px !important;
}

.p-r-3 {
  padding-right: 3px !important;
}

.p-r-4 {
  padding-right: 4px !important;
}

.p-r-5 {
  padding-right: 5px !important;
}

.p-r-6 {
  padding-right: 6px !important;
}

.p-r-7 {
  padding-right: 7px !important;
}

.p-r-8 {
  padding-right: 8px !important;
}

.p-r-9 {
  padding-right: 9px !important;
}

.p-t-1 {
  padding-top: 1px !important;
}

.p-t-2 {
  padding-top: 2px !important;
}

.p-t-3 {
  padding-top: 3px !important;
}

.p-t-4 {
  padding-top: 4px !important;
}

.p-t-5 {
  padding-top: 5px !important;
}

.p-t-6 {
  padding-top: 6px !important;
}

.p-t-7 {
  padding-top: 7px !important;
}

.p-t-8 {
  padding-top: 8px !important;
}

.p-t-9 {
  padding-top: 9px !important;
}

.p-b-1 {
  padding-bottom: 1px !important;
}

.p-b-2 {
  padding-bottom: 2px !important;
}

.p-b-3 {
  padding-bottom: 3px !important;
}

.p-b-4 {
  padding-bottom: 4px !important;
}

.p-b-5 {
  padding-bottom: 5px !important;
}

.p-b-6 {
  padding-bottom: 6px !important;
}

.p-b-7 {
  padding-bottom: 7px !important;
}

.p-b-8 {
  padding-bottom: 8px !important;
}

.p-b-9 {
  padding-bottom: 9px !important;
}

.p-l-10 {
  padding-left: 10px !important;
}

.p-r-10 {
  padding-right: 10px !important;
}

.p-t-10 {
  padding-top: 10px !important;
}

.p-b-10 {
  padding-bottom: 10px !important;
}

.p-l-15 {
  padding-left: 15px !important;
}

.p-r-15 {
  padding-right: 15px !important;
}

.p-t-15 {
  padding-top: 15px !important;
}

.p-b-15 {
  padding-bottom: 15px !important;
}

.p-l-20 {
  padding-left: 20px !important;
}

.p-r-20 {
  padding-right: 20px !important;
}

.p-t-20 {
  padding-top: 20px !important;
}

.p-b-20 {
  padding-bottom: 20px !important;
}

.p-l-25 {
  padding-left: 25px !important;
}

.p-r-25 {
  padding-right: 25px !important;
}

.p-t-25 {
  padding-top: 25px !important;
}

.p-b-25 {
  padding-bottom: 25px !important;
}

.p-l-30 {
  padding-left: 30px !important;
}

.p-r-30 {
  padding-right: 30px !important;
}

.p-t-30 {
  padding-top: 30px !important;
}

.p-b-30 {
  padding-bottom: 30px !important;
}

.p-l-35 {
  padding-left: 35px !important;
}

.p-r-35 {
  padding-right: 35px !important;
}

.p-t-35 {
  padding-top: 35px !important;
}

.p-b-35 {
  padding-bottom: 35px !important;
}

.p-l-40 {
  padding-left: 40px !important;
}

.p-r-40 {
  padding-right: 40px !important;
}

.p-t-40 {
  padding-top: 40px !important;
}

.p-b-40 {
  padding-bottom: 40px !important;
}

.p-l-45 {
  padding-left: 45px !important;
}

.p-r-45 {
  padding-right: 45px !important;
}

.p-t-45 {
  padding-top: 45px !important;
}

.p-b-45 {
  padding-bottom: 45px !important;
}

.p-l-50 {
  padding-left: 50px !important;
}

.p-r-50 {
  padding-right: 50px !important;
}

.p-t-50 {
  padding-top: 50px !important;
}

.p-b-50 {
  padding-bottom: 50px !important;
}

.border-left-none {
  border-left: none !important;
}

.border-right-none {
  border-right: none !important;
}

.border-top-none {
  border-top: none !important;
}

.border-bottom-none {
  border-bottom: none !important;
}

.border-all-none {
  border: none !important;
}

.cursor-pointer {
  cursor: pointer;
}

.form-control, .btn.focus, .btn:focus, .custom-select:focus, .form-control:focus {
  box-shadow: none;
}

.form-control:focus {
  box-shadow: none;
}

.btn-secondary:not(:disabled):not(.disabled).active:focus, .btn-secondary:not(:disabled):not(.disabled):active:focus, .show > .btn-secondary.dropdown-toggle:focus {
  box-shadow: none;
}

.custom-checkbox .custom-control-label:before, .custom-control-input:focus ~ .custom-control-label:before {
  border-radius: 0;
  box-shadow: none;
}

.custom-checkbox .custom-control-input:checked ~ .custom-control-label::before {
  background-color: #c83665;
}

.positionRelative {
  position: relative;
}

.customInputs {
  position: relative;
  border: 1px solid rgba(79, 79, 79, 0.1);
  border-radius: 5px;
  height: 53px;
  box-shadow: 0 5px 10px 0 rgba(55, 94, 246, 0.2);
  color: rgba(79, 79, 79, 0.8);
  background: #fff;
  padding: 0 20px;
}

.customTextarea {
  position: relative;
  border: 1px solid rgba(79, 79, 79, 0.1);
  border-radius: 5px;
  box-shadow: 0 5px 10px 0 rgba(55, 94, 246, 0.2);
  color: rgba(79, 79, 79, 0.8);
  background: #fff;
  padding: 10px 20px;
}

.customTextarea:focus,
.customInputs:focus {
  border: 1px solid rgba(79, 79, 79, 0.45);
  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.29);
}

.customFormButton {
  text-transform: uppercase;
  cursor: pointer;
  box-shadow: -3.244px 16.688px 20px 0 rgba(0, 0, 0, 0.25);
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  display: inline-block;
  overflow: hidden;
  padding: 16px 37px;
  transition: all 0.24s cubic-bezier(0.55, 0.055, 0.675, 0.19);
  border-radius: 5px;
  position: relative;
  z-index: 1;
  color: #ffffff;
  border: none;
  background-image: linear-gradient(90deg, #5f181c 0%, #c00951 100%);
}

.customFormButton:after {
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  visibility: hidden;
  width: 100%;
  height: 100%;
  content: '';
  transition: all 0.36s cubic-bezier(0.47, 0, 0.745, 0.715);
  opacity: 0;
  border-radius: 10px;
  background-image: linear-gradient(-90deg, #5f181c 0%, #c00951 100%);
}

.customFormButton:hover {
  box-shadow: -3.244px 16.688px 20px 0 rgba(0, 0, 0, 0.12);
  color: #ffffff;
}

.customFormButton:hover:after {
  visibility: visible;
  opacity: 1;
}

.endUserBody {
  background: #f9f9f9;
}

.form-control.is-valid {
  box-shadow: 0 0 0 0.2rem rgba(40, 167, 69, 0.25) !important;
}

.form-control.is-invalid {
  box-shadow: 0 0 0 0.2rem rgba(220, 53, 69, 0.25) !important;
}

a {
  transition: all 0.2s ease-in-out;
}

a.colorRedish {
  color: #c83665;
}

a.colorRedish:hover, a.colorRedish:focus {
  color: black;
}

.img-responsivee {
  max-width: 100%;
  height: auto;
}

/* Start header */
.headerMain {
  position: absolute;
  z-index: 9;
  top: 0;
  left: 0;
  width: 100%;
}

.headerMain .headerMainInner {
  padding: 10px 0;
  position: relative;
  /*Menu Css*/
}

.headerMain .headerMainInner .stickyLogo {
  display: none;
}

.headerMain .headerMainInner .navbar {
  padding: 0;
}

@media only screen and (max-width: 992px) {
  .headerMain .headerMainInner .mainMenu {
    overflow-x: hidden;
  }
}

.headerMain .headerMainInner .mainMenu ul {
  margin: 0;
  margin-right: -13px;
  padding: 0;
  list-style: outside none none;
  text-align: center;
}

@media only screen and (max-width: 992px) {
  .headerMain .headerMainInner .mainMenu ul {
    text-align: left;
    position: absolute;
    z-index: 999;
    top: 100%;
    left: 0;
    visibility: hidden;
    width: 100%;
    transition: all .34s ease-in-out;
    opacity: 0;
    border: none;
    background: #f9eaef;
    filter: alpha(opacity=0);
  }
}

@media only screen and (max-width: 992px) {
  .headerMain .headerMainInner .mainMenu ul.show {
    top: 100%;
    visibility: visible;
    opacity: 1;
    filter: alpha(opacity=100);
    padding: 20px 0;
  }
}

@media only screen and (max-width: 992px) {
  .headerMain .headerMainInner .mainMenu ul.show li a {
    color: #343a40;
  }
}

.headerMain .headerMainInner .mainMenu ul.show li.active a {
  color: #c83665;
}

.headerMain .headerMainInner .mainMenu ul li {
  position: relative;
  display: inline-block;
}

@media only screen and (max-width: 992px) {
  .headerMain .headerMainInner .mainMenu ul li {
    display: block;
  }
}

.headerMain .headerMainInner .mainMenu ul li a {
  font-size: 16px;
  font-weight: 500;
  display: block;
  padding: 0 10px;
  transition: all .34s ease-in-out;
  text-transform: capitalize;
  color: white;
}

@media only screen and (max-width: 1200px) {
  .headerMain .headerMainInner .mainMenu ul li a {
    padding: 0 5px;
  }
}

@media only screen and (max-width: 992px) {
  .headerMain .headerMainInner .mainMenu ul li a {
    padding: 8px 20px;
  }
}

.headerMain .headerMainInner .mainMenu ul li a:hover, .headerMain .headerMainInner .mainMenu ul li a:focus {
  text-decoration: none;
  outline: none;
}

.headerMain .headerMainInner .mainMenu ul li a:hover {
  color: #ffe100;
}

.headerMain .headerMainInner .mainMenu ul li.active a {
  color: #ffe100;
}

@media only screen and (max-width: 992px) {
  .headerMain .headerMainInner .mainMenu ul li:hover a {
    color: #c83665;
    background: white;
  }
}

.headerMain .headerMainInner .mainMenu .mobile-menu {
  display: none;
}

@media only screen and (max-width: 992px) {
  .headerMain .headerMainInner .mainMenu .mobile-menu {
    display: block;
    text-align: center;
  }
}

.headerMain .headerMainInner .mainMenu .mobile-menu .menu-click {
  position: static;
  width: 50px;
  height: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

@media only screen and (max-width: 639px) {
  .headerMain .headerMainInner .mainMenu .mobile-menu .menu-click {
    width: 30px;
    height: 20px;
  }
}

.headerMain .headerMainInner .mainMenu .mobile-menu .menu-click span {
  display: block;
  width: 35px;
  height: 4px;
  margin-bottom: 7px;
  background: white;
}

@media only screen and (max-width: 992px) {
  .headerMain .headerMainInner .mainMenu .mobile-menu .menu-click span {
    background: #c83665;
  }
}

@media only screen and (max-width: 639px) {
  .headerMain .headerMainInner .mainMenu .mobile-menu .menu-click span {
    height: 2px;
    margin-bottom: 6px;
  }
}

.headerMain .headerMainInner .mainMenu .mobile-menu .menu-click span:last-child {
  margin: 0;
}

@media only screen and (max-width: 992px) {
  .headerMain .headerMainInner .main-menu > ul > li:hover:before,
  .headerMain .headerMainInner .main-menu > ul > li:hover:after,
  .headerMain .headerMainInner .main-menu > ul > li.active:before,
  .headerMain .headerMainInner .main-menu > ul > li.active:after {
    visibility: hidden;
    opacity: 0;
    -ms-filter: 'progid:DXImageTransform.Microsoft.Alpha(Opacity=0)';
    filter: alpha(opacity=0);
  }
}

.headerMain .headerMainInner.headerMainSticky, .headerMain .headerMainInner.headerMainStick {
  position: fixed;
  z-index: 99;
  top: 0;
  left: 0;
  width: 100%;
  background: white;
  box-shadow: 0 1px 10px 0 rgba(52, 58, 64, 0.1);
}

.headerMain .headerMainInner.headerMainSticky .stickyLogo, .headerMain .headerMainInner.headerMainStick .stickyLogo {
  display: block;
}

.headerMain .headerMainInner.headerMainSticky .brandLogo, .headerMain .headerMainInner.headerMainStick .brandLogo {
  display: none;
}

.headerMain .headerMainInner.headerMainSticky .mainMenu ul li a, .headerMain .headerMainInner.headerMainStick .mainMenu ul li a {
  color: #343a40;
}

.headerMain .headerMainInner.headerMainSticky .mainMenu ul li a:hover, .headerMain .headerMainInner.headerMainStick .mainMenu ul li a:hover {
  color: #c83665;
}

.headerMain .headerMainInner.headerMainSticky .mainMenu ul li.active a, .headerMain .headerMainInner.headerMainStick .mainMenu ul li.active a {
  color: #c83665;
}

.headerMain .headerMainInner.headerMainSticky .mainMenu .menu-click span, .headerMain .headerMainInner.headerMainStick .mainMenu .menu-click span {
  background: #c83665;
}

.headerMain .headerMainInner .loginBtn {
  margin-left: 30px;
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  padding: 9px 24px;
  color: #343a40;
  background: #ffe100;
  border-radius: 5px;
}

@media only screen and (max-width: 639px) {
  .headerMain .headerMainInner .loginBtn {
    margin-left: 20px;
  }
}

.headerMain .headerMainInner .loginBtn.dropdown-toggle:after {
  border-top: 5px solid;
  border-right: 5px solid transparent;
  border-left: 5px solid transparent;
  margin-right: -10px;
  margin-left: 10px;
  vertical-align: 2px;
}

.headerMain .headerMainInner .loginBtn:hover {
  color: black;
}

/* End header */
/* Start mainSection */
.mainSection {
  padding: 220px 0 140px 0;
  position: relative;
  background: url(../images/mainImg.svg) right top no-repeat;
  background-size: 100%;
  min-height: calc(100% - 51px);
}

@media only screen and (max-width: 1200px) {
  .mainSection {
    background-size: 130%;
    min-height: calc(100% - 72px);
  }
}

@media only screen and (max-width: 992px) {
  .mainSection {
    background: none;
    height: auto;
    padding: 50px 0 30px 0;
    min-height: calc(100% - 93px);
  }
}

.mainSection.endUser {
  height: auto;
  background: none;
  padding: 100px 0 40px;
}

.mainSection.loginPages {
  height: auto;
  padding: 100px 0 40px;
}

.mainSection .mainSectionRowHeight {
  height: 100vh;
}

@media only screen and (max-width: 992px) {
  .mainSection .mainSectionRowHeight {
    height: auto;
    padding: 50px 0 0 0;
  }
}

.mainSection h1 {
  font-size: 70px;
  font-weight: 700;
  line-height: 90px;
  margin: 0 0 0;
}

@media only screen and (max-width: 992px) {
  .mainSection h1 {
    text-align: center;
    font-size: 50px;
  }
}

@media only screen and (max-width: 1366px) {
  .mainSection h1 {
    font-size: 60px;
    line-height: 72px;
    margin: 80px 0 0;
  }
}

@media only screen and (max-width: 639px) {
  .mainSection h1 {
    font-size: 40px;
  }
}

@media only screen and (max-width: 992px) {
  .mainSection h1 br {
    display: none;
  }
}

.mainSection h1.loginSignupTitle {
  font-size: 40px;
  text-align: center;
  line-height: initial;
}

@media only screen and (max-width: 1366px) {
  .mainSection h1.loginSignupTitle {
    margin: 0;
  }
}

.mainSection p {
  font-size: 18px;
  line-height: 28px;
  margin: 0 0 45px;
  color: #343a40;
}

@media only screen and (max-width: 992px) {
  .mainSection p {
    text-align: center;
  }
}

@media only screen and (max-width: 639px) {
  .mainSection p {
    font-size: 14px;
    margin-bottom: 20px;
  }
}

.mainSection p.loginSignupSubTitle {
  font-size: 15px;
  line-height: 25px;
  margin: 10px 0 5px;
  text-align: center;
}

.mainSection .pagesText {
  font-size: 14px;
  padding: 0 30px;
}

@media only screen and (max-width: 992px) {
  .mainSection .pagesText {
    padding: 0;
  }
}

.mainSection .pagesText p {
  font-size: 14px;
  line-height: initial;
  margin-bottom: 15px;
  color: #343a40;
}

@media only screen and (max-width: 992px) {
  .mainSection .pagesText p {
    text-align: left;
  }
}

@media only screen and (max-width: 639px) {
  .mainSection .pagesText p {
    font-size: 13px;
  }
}

.mainSection .pagesText ul li {
  color: #343a40;
}

.mainSection .pagesText h4 {
  font-size: 18px;
}

.mainSection .selectionBoxMain {
  margin-bottom: 20px;
  padding: 25px;
  border-radius: 5px;
  background-color: white;
  box-shadow: 0 10px 30px 0 rgba(0, 0, 0, 0.1);
  position: relative;
  z-index: 1;
}

@media only screen and (max-width: 992px) {
  .mainSection .selectionBoxMain.signupSec {
    margin: 70px 0;
  }
}

.mainSection .selectionBoxMain .formDataMain {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: initial;
}

.mainSection .selectionBoxMain .singleInput {
  position: relative;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  background: none;
  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.1);
  color: rgba(0, 0, 0, 0.8);
}

.mainSection .selectionBoxMain .singleInput input {
  border: none;
}

.mainSection .selectionBoxMain .singleInput select {
  font-size: 16px;
  height: 53px;
  padding-left: 48px;
  border: none;
  background: none;
  cursor: pointer;
  position: relative;
  z-index: 1;
}

.mainSection .selectionBoxMain .singleInput .iconbadge {
  position: absolute;
  top: 50%;
  left: 20px;
  transform: translateY(-50%);
  color: rgba(0, 0, 0, 0.8);
  font-size: 19px;
  margin-top: 2px;
}

.mainSection .selectionBoxMain .singleInput .iconArrow {
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
  color: rgba(0, 0, 0, 0.8);
  font-size: 19px;
}

.mainSection .selectionBoxMain .singleInputform {
  position: relative;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  background: none;
  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.1);
  color: rgba(0, 0, 0, 0.8);
}

.mainSection .selectionBoxMain .singleInputform input {
  border: none;
}

.mainSection .selectionBoxMain .singleInputform select {
  font-size: 16px;
  height: 37px;
  padding-left: 35px;
  border: none;
  background: none;
  cursor: pointer;
  position: relative;
  z-index: 1;
}

.mainSection .selectionBoxMain .singleInputform .iconbadge {
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
  color: rgba(0, 0, 0, 0.8);
  font-size: 16px;
  margin-top: 2px;
}

.mainSection .selectionBoxMain .singleInputform .iconArrow {
  position: absolute;
  top: 50%;
  right: 12px;
  transform: translateY(-50%);
  color: rgba(0, 0, 0, 0.8);
  font-size: 19px;
}

.mainSection .selectionBoxMain .btnPlusMinus {
  border-radius: 5px;
  background: #f1f4f6;
}

.mainSection .selectionBoxMain .btnPlusMinus.btn-decrement {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.mainSection .selectionBoxMain .btnPlusMinus.btn-increment {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.mainSection .selectionBoxMain .calendarClickMenu {
  position: relative;
  z-index: 2;
}

.mainSection .selectionBoxMain .calendarClickMenu .calendarInnerText {
  line-height: 53px;
  color: rgba(0, 0, 0, 0.8);
  font-size: 16px;
  padding: 0 18px;
  cursor: text;
}

.mainSection .selectionBoxMain .calendarClickMenu .calendarInnerText i {
  font-size: 19px;
  vertical-align: -2px;
  margin-right: 8px;
}

.mainSection .selectionBoxMain .calendarClickMenu .calendarClickMenuInner {
  display: none;
  position: absolute;
  left: 0;
  top: 100%;
  width: 100%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.1);
}

.mainSection .selectionBoxMain .calendarClickMenu .calendarClickMenuInner.show {
  display: block;
}

.mainSection .selectionBoxMain .formSubmitBtn {
  text-align: center;
  font-size: 21px;
  line-height: 40px;
  margin-top: 20px;
}

.mainSection .selectionBoxMain .loginGoSignup {
  padding: 30px 0 0 0;
  color: #545454;
  text-align: center;
  font-size: 15px;
}

.mainSection .selectionBoxMain .loginGoSignup a {
  background: #c83665;
  padding: 2px 8px;
  color: white;
  border-radius: 4px;
}

.mainSection .selectionBoxMain .loginGoSignup a:hover {
  background: #ce4a74;
}

.vanilla-calendar .vanilla-calendar-week {
  background-color: #343a40;
}

.vanilla-calendar .vanilla-calendar-week span {
  font-size: 11px;
  font-weight: 400;
  padding: 7px 0;
  border-right: rgba(255, 255, 255, 0.2) 1px solid;
  letter-spacing: 1px;
}

.vanilla-calendar .vanilla-calendar-date--selected {
  background-color: #343a40;
}

/* End mainSection */
/* Start ourServicesSection */
.ourServicesSection {
  background: url(../images/dotbg.png) center center no-repeat;
  background-size: contain;
  padding: 85px 0;
}

@media only screen and (max-width: 992px) {
  .ourServicesSection {
    padding: 35px 0;
  }
}

.ourServicesSection h2 {
  font-size: 60px;
  font-weight: 700;
  margin: 0 0 20px;
  text-transform: capitalize;
}

@media only screen and (max-width: 992px) {
  .ourServicesSection h2 {
    font-size: 50px;
  }
}

@media only screen and (max-width: 639px) {
  .ourServicesSection h2 {
    font-size: 40px;
  }
}

.ourServicesSection p {
  font-size: 16px;
  line-height: 26px;
  padding-bottom: 45px;
}

@media only screen and (max-width: 639px) {
  .ourServicesSection p {
    font-size: 14px;
    padding-bottom: 15px;
  }
}

.ourServicesSection .servicesBox {
  position: relative;
  margin-bottom: 30px;
  border-radius: 5px;
  overflow: hidden;
  box-shadow: 0 3px 14px 0 rgba(52, 58, 64, 0.15);
  background-color: white;
  border-color: #343a40;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: initial;
  transition: all 0.2s ease-in-out;
}

.ourServicesSection .servicesBox .servicesThumb {
  margin-bottom: 20px;
  width: 100%;
  height: 190px;
  background-size: cover;
  background-position: center;
}

.ourServicesSection .servicesBox .serviceInfoMain {
  padding: 0 30px;
}

.ourServicesSection .servicesBox .serviceInfoicon {
  font-size: 1.7em;
  color: #c83665;
  margin-right: 14px;
  margin-top: 5px;
}

.ourServicesSection .servicesBox .serviceInfoHeading {
  font-size: 13px;
  font-weight: 300;
  margin-bottom: 0;
  line-height: 1;
  text-align: left;
}

.ourServicesSection .servicesBox .booknowBtn {
  text-align: center;
  font-size: 18px;
  line-height: 35px;
  margin-top: 20px;
  padding: 5px 20px;
  width: 100%;
  margin-bottom: 30px;
}

.ourServicesSection .servicesBox .serviceInfoValue {
  font-size: 16px;
  text-align: left;
}

.ourServicesSection .servicesBox h4 {
  font-size: 24px;
  font-weight: 700;
  text-align: left;
  margin: 0 30px 20px;
  text-transform: capitalize;
}

@media only screen and (max-width: 992px) {
  .ourServicesSection .servicesBox h4 {
    margin: 0 15px 10px;
    font-size: 20px;
    font-weight: 600;
  }
}

.ourServicesSection .servicesBox p {
  font-size: 14px;
  line-height: 26px;
  margin: 0;
  padding: 0;
}

.ourServicesSection .servicesBox:hover {
  box-shadow: 0 4px 14px 0 rgba(52, 58, 64, 0.2);
}

.ourServicesSection .servicesBox:hover .servicesThumb img {
  animation: pulse 400ms ease-in-out;
}

/* End ourServicesSection */
/* Start gallerySection */
.gallerySection {
  padding: 120px 0;
  background: url(../images/albumBg.png) center center no-repeat;
  background-size: 100% 100%;
  /*Portfolio Css*/
}

@media only screen and (max-width: 1024px) {
  .gallerySection {
    background-image: linear-gradient(0deg, #880f37 0%, #c60854 100%);
    padding: 50px 0;
  }
}

.gallerySection .galleryTitlesSection {
  text-align: center;
}

.gallerySection .galleryTitlesSection h2 {
  font-size: 60px;
  font-weight: 700;
  margin: 0 0 20px;
  text-transform: capitalize;
  color: white;
}

@media only screen and (max-width: 992px) {
  .gallerySection .galleryTitlesSection h2 {
    font-size: 50px;
  }
}

@media only screen and (max-width: 639px) {
  .gallerySection .galleryTitlesSection h2 {
    font-size: 40px;
  }
}

.gallerySection .galleryTitlesSection p {
  font-size: 16px;
  line-height: 26px;
  color: white;
}

@media only screen and (max-width: 992px) {
  .gallerySection .galleryTitlesSection p {
    font-size: 14px;
    font-weight: 300;
  }
}

.gallerySection .filterList {
  margin: 0;
  margin-bottom: 38px;
  padding: 0;
  list-style: none;
  text-align: center;
}

.gallerySection .filterList li {
  font-size: 14px;
  font-weight: 600;
  position: relative;
  z-index: 1;
  display: inline-block;
  margin-right: 10px;
  padding: 17px 31px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  text-transform: uppercase;
  color: white;
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 5px;
  background-color: rgba(200, 54, 101, 0.5);
  box-shadow: 0 13px 40px 0 rgba(0, 0, 0, 0.2);
}

@media only screen and (max-width: 1200px) {
  .gallerySection .filterList li {
    padding: 14px 20px;
  }
}

@media only screen and (max-width: 992px) {
  .gallerySection .filterList li {
    margin: 5px;
  }
}

.gallerySection .filterList li.active, .gallerySection .filterList li:hover {
  border: 1px solid transparent;
  background-color: transparent;
  color: black;
}

.gallerySection .filterList li.active:after, .gallerySection .filterList li:hover:after {
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  content: '';
  transition: all 0.2s ease-in-out;
  border-radius: 5px;
  background-image: linear-gradient(90deg, #dba80e 0%, #ffe100 100%);
}

.gallerySection .filterList li:last-child {
  margin-right: 0;
}

.gallerySection .portfolioBox {
  position: relative;
  z-index: 1;
  height: 260px;
  margin-bottom: 30px;
  border-radius: 5px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.gallerySection .portfolioBox .portfolioBoxInnerContent {
  position: absolute;
  bottom: 15px;
  left: 0;
  width: 100%;
  text-align: center;
}

.gallerySection .portfolioBox .portfolioBoxInnerContent h6 {
  font-size: 18px;
  color: white;
}

.gallerySection .portfolioBox .portfolioBoxInnerContent p {
  color: white;
}

.gallerySection .portfolioBox .portfolioBoxInnerContent p span {
  font-size: 14px;
  color: white;
}

.gallerySection .portfolioBox:after {
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  content: '';
  border-radius: 5px;
  background-image: linear-gradient(360deg, black 0%, rgba(0, 0, 0, 0.58) 36%, rgba(255, 255, 255, 0) 100%, white 100%);
}

/* End gallerySection */
/* Start contactSection */
.contactSection {
  position: relative;
  z-index: 1;
  background: url(../images/dotbg.png) center center no-repeat;
  background-size: contain;
  padding: 85px 0;
}

.contactSection h2 {
  font-size: 60px;
  font-weight: 700;
  margin: 0 0 20px;
  text-transform: capitalize;
}

@media only screen and (max-width: 992px) {
  .contactSection h2 {
    font-size: 50px;
    text-align: center;
  }
}

@media only screen and (max-width: 639px) {
  .contactSection h2 {
    font-size: 40px;
  }
}

.contactSection p {
  font-size: 16px;
  line-height: 26px;
  padding-bottom: 45px;
}

@media only screen and (max-width: 992px) {
  .contactSection p {
    text-align: center;
  }
}

@media only screen and (max-width: 639px) {
  .contactSection p {
    font-size: 14px;
    padding-bottom: 15px;
    line-height: 20px;
  }
}

.contactSection .contactImgMain {
  position: absolute;
  top: 50%;
  right: 0;
  width: 749px;
  height: 585px;
  transform: translateY(-50%);
  background: url(../images/contactImg.svg) center center no-repeat;
  background-size: contain;
}

@media only screen and (max-width: 1600px) {
  .contactSection .contactImgMain {
    width: 550px;
  }
}

@media only screen and (max-width: 1200px) {
  .contactSection .contactImgMain {
    width: 450px;
  }
}

@media only screen and (max-width: 992px) {
  .contactSection .contactImgMain {
    display: none;
  }
}

.contactMapArea {
  position: relative;
}

.contactMapArea .contactThreeColumns {
  position: relative;
  z-index: 1;
  margin-bottom: 30px;
  display: block;
  padding: 22px 25px;
  border-radius: 5px;
  background-color: white;
  box-shadow: 0 0px 10px 0 rgba(0, 0, 0, 0.1), 0 10px 10px 0 rgba(0, 0, 0, 0.15);
  text-align: center;
  min-height: calc(100% - 30px);
}

.contactMapArea .contactThreeColumns .iconThumb {
  max-width: 100%;
  height: auto;
  margin-right: 0;
  margin-bottom: 20px;
  flex: 0 0 100%;
}

.contactMapArea .contactThreeColumns .iconThumb img {
  transition: all 0.2s ease-in-out;
}

.contactMapArea .contactThreeColumns .iconboxContent h5 {
  margin: 0 0 20px;
  font-size: 24px;
  font-weight: 600;
}

.contactMapArea .contactThreeColumns .iconboxContent p {
  font-size: 14px;
  margin: 0;
  line-height: 26px;
}

.contactMapArea .contactThreeColumns .contactSocial {
  margin: 0;
  padding: 0;
  list-style: none;
}

.contactMapArea .contactThreeColumns .contactSocial li {
  position: relative;
  z-index: 1;
  display: inline-block;
  padding-right: 10px;
}

@media only screen and (max-width: 768px) {
  .contactMapArea .contactThreeColumns .contactSocial li {
    padding-right: 8px;
  }
}

.contactMapArea .contactThreeColumns .contactSocial li:last-child {
  padding-right: 0;
}

.contactMapArea .contactThreeColumns .contactSocial li a {
  position: relative;
  z-index: 1;
  display: block;
  transition: all 0.2s ease-in-out;
  color: #343a40;
  font-size: 14px;
  line-height: 30px;
  width: 30px;
  height: 30px;
  text-align: center;
  border: 1px solid #343a40;
  border-radius: 50%;
}

.contactMapArea .contactThreeColumns .contactSocial li a:after {
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  visibility: hidden;
  width: 100%;
  height: 100%;
  content: '';
  transition: all 0.2s ease-in-out;
  opacity: 0;
  border-radius: 50%;
  background: linear-gradient(8deg, #5f181c 0%, #c00951 100%);
  filter: alpha(opacity=0);
}

.contactMapArea .contactThreeColumns .contactSocial li a:hover {
  color: white;
  border: transparent;
}

.contactMapArea .contactThreeColumns .contactSocial li a:hover:after {
  visibility: visible;
  animation: zoomIn .34s ease-in-out;
  opacity: 1;
  filter: alpha(opacity=100);
}

.contactMapArea .contactThreeColumns:hover .iconThumb img {
  animation: rotate-in-2-fwd 0.6s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@keyframes rotate-in-2-fwd {
  0% {
    transform: translateZ(-200px) rotate(-45deg);
    opacity: 0;
  }
  100% {
    transform: translateZ(0) rotate(0);
    opacity: 1;
  }
}

.contactMapArea .googleMap iframe {
  position: relative;
  margin-top: -160px;
}

/* End contactSection */
footer {
  padding: 15px 0;
  background: #343a40;
}

footer .copyrightText {
  font-size: 14px;
  color: white;
}

@media only screen and (max-width: 992px) {
  footer .copyrightText {
    text-align: center;
  }
}

footer .copyrightText a {
  color: #c83665;
}

.signUpWithSocial {
  border-top: #eef2f4 2px solid;
  margin-top: 34px;
  padding: 20px 0 0 0;
  text-align: center;
}

.signUpWithSocial h3 {
  font-size: 21px;
  font-weight: 700;
  margin-bottom: 30px;
}

.btnGoogle {
  color: white;
  background: #c43113;
  border: none;
  padding: 12px 30px;
  font-size: 18px;
  width: 100%;
}

.btnGoogle i {
  font-size: 29px;
  vertical-align: -6px;
  margin-right: 6px;
}

.btnGoogle:hover, .btnGoogle:active, .btnGoogle:focus {
  background: #ec5638;
}

.btnFacebook {
  color: white;
  background: #2d5ab8;
  border: none;
  padding: 12px 30px;
  font-size: 18px;
  width: 100%;
}

.btnFacebook i {
  font-size: 29px;
  vertical-align: -6px;
  margin-right: 6px;
}

.btnFacebook:hover, .btnFacebook:active, .btnFacebook:focus {
  background: #5b83d7;
}

/*!
 * Datetimepicker for Bootstrap 3
 * version : 4.17.47
 * https://github.com/Eonasdan/bootstrap-datetimepicker/
 */
.dateTimePickerInput,
.dateTimePickerInput:focus {
  width: 100%;
  position: absolute;
  top: 0;
  background: transparent;
  left: 0;
  height: 100%;
  padding: 0 0 0 52px;
}

.bootstrap-datetimepicker-widget {
  list-style: none;
  z-index: 100;
}

.bootstrap-datetimepicker-widget.dropdown-menu {
  width: 100%;
  padding: 10px;
  border-radius: 4px;
  direction: ltr;
  border: 0 !important;
  box-shadow: 0px 0px 15px 1px rgba(69, 65, 78, 0.2) !important;
  font-size: 12px;
  font-weight: 400;
  margin-top: 10px !important;
  margin-bottom: 10px !important;
}

.bootstrap-datetimepicker-widget .list-unstyled {
  margin: 0;
}

.bootstrap-datetimepicker-widget a[data-action] {
  padding: 6px 0;
  font-size: 16px;
  font-weight: 800;
  color: #c83665;
}

.bootstrap-datetimepicker-widget a[data-action]:active {
  box-shadow: none;
  color: #c83665;
}

.bootstrap-datetimepicker-widget .timepicker-hour, .bootstrap-datetimepicker-widget .timepicker-minute, .bootstrap-datetimepicker-widget .timepicker-second {
  width: 54px;
  font-weight: bold;
  font-size: 1.2em;
  margin: 0;
}

.bootstrap-datetimepicker-widget button[data-action] {
  padding: 6px;
}

.bootstrap-datetimepicker-widget .btn[data-action="incrementHours"]::after {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
  content: "Increment Hours";
}

.bootstrap-datetimepicker-widget .btn[data-action="incrementMinutes"]::after {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
  content: "Increment Minutes";
}

.bootstrap-datetimepicker-widget .btn[data-action="decrementHours"]::after {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
  content: "Decrement Hours";
}

.bootstrap-datetimepicker-widget .btn[data-action="decrementMinutes"]::after {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
  content: "Decrement Minutes";
}

.bootstrap-datetimepicker-widget .btn[data-action="showHours"]::after {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
  content: "Show Hours";
}

.bootstrap-datetimepicker-widget .btn[data-action="showMinutes"]::after {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
  content: "Show Minutes";
}

.bootstrap-datetimepicker-widget .btn[data-action="togglePeriod"]::after {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
  content: "Toggle AM/PM";
}

.bootstrap-datetimepicker-widget .btn[data-action="clear"]::after {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
  content: "Clear the picker";
}

.bootstrap-datetimepicker-widget .btn[data-action="today"]::after {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
  content: "Set the date to today";
}

.bootstrap-datetimepicker-widget .picker-switch {
  text-align: center;
}

.bootstrap-datetimepicker-widget .picker-switch::after {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
  content: "Toggle Date and Time Screens";
}

.bootstrap-datetimepicker-widget .picker-switch td {
  padding: 0;
  margin: 0;
  height: auto;
  width: auto;
  line-height: inherit;
}

.bootstrap-datetimepicker-widget .picker-switch td span {
  font-size: 16px;
  line-height: 2.5;
  height: 2.5em;
  width: 100%;
  font-weight: 800;
}

.bootstrap-datetimepicker-widget table {
  width: 100%;
  margin: 0;
}

.bootstrap-datetimepicker-widget table td, .bootstrap-datetimepicker-widget table th {
  width: 30px;
  height: 30px;
  border-radius: 2px;
  border: none;
}

.bootstrap-datetimepicker-widget table td {
  text-align: center;
  border-radius: 3px;
}

.bootstrap-datetimepicker-widget table th {
  text-align: center;
  border-radius: 2px;
  line-height: 20px;
}

.bootstrap-datetimepicker-widget table th.picker-switch {
  width: 145px;
}

.bootstrap-datetimepicker-widget table th.disabled {
  background: none;
  color: #777;
  cursor: not-allowed;
}

.bootstrap-datetimepicker-widget table th.disabled:hover {
  background: none;
  color: #777;
  cursor: not-allowed;
}

.bootstrap-datetimepicker-widget table th.prev::after {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
  content: "Previous Month";
}

.bootstrap-datetimepicker-widget table th.next::after {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
  content: "Next Month";
}

.bootstrap-datetimepicker-widget table thead tr:first-child th {
  cursor: pointer;
}

.bootstrap-datetimepicker-widget table thead tr:first-child th:hover {
  background: #eee;
}

.bootstrap-datetimepicker-widget table td {
  height: 54px;
  line-height: 54px;
  width: 54px;
}

.bootstrap-datetimepicker-widget table td.cw {
  font-size: .8em;
  height: 20px;
  line-height: 20px;
  color: #777;
}

.bootstrap-datetimepicker-widget table td.day {
  height: 25px;
  line-height: 25px;
  width: 25px;
}

.bootstrap-datetimepicker-widget table td.day:hover {
  background: #eee;
  cursor: pointer;
}

.bootstrap-datetimepicker-widget table td.hour:hover, .bootstrap-datetimepicker-widget table td.minute:hover, .bootstrap-datetimepicker-widget table td.second:hover {
  background: #eee;
  cursor: pointer;
}

.bootstrap-datetimepicker-widget table td.old, .bootstrap-datetimepicker-widget table td.new {
  color: #777;
}

.bootstrap-datetimepicker-widget table td.today {
  position: relative;
}

.bootstrap-datetimepicker-widget table td.today:before {
  content: '';
  display: inline-block;
  border: solid transparent;
  border-width: 0 0 7px 7px;
  border-bottom-color: #c83665;
  border-top-color: rgba(0, 0, 0, 0.2);
  position: absolute;
  bottom: 4px;
  right: 4px;
}

.bootstrap-datetimepicker-widget table td.active {
  background-color: #c83665;
  color: #fff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}

.bootstrap-datetimepicker-widget table td.active:hover {
  background-color: #c83665;
  color: #fff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}

.bootstrap-datetimepicker-widget table td.active.today:before {
  border-bottom-color: #fff;
}

.bootstrap-datetimepicker-widget table td.disabled {
  background: none;
  color: #777;
  cursor: not-allowed;
}

.bootstrap-datetimepicker-widget table td.disabled:hover {
  background: none;
  color: #777;
  cursor: not-allowed;
}

.bootstrap-datetimepicker-widget table td span {
  display: inline-block;
  width: 54px;
  height: 54px;
  line-height: 54px;
  margin: 2px 1.5px;
  cursor: pointer;
  border-radius: 4px;
}

.bootstrap-datetimepicker-widget table td span:hover {
  color: #c83665;
  background: #eee;
}

.bootstrap-datetimepicker-widget table td span.active {
  background-color: #c83665;
  color: #fff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}

.bootstrap-datetimepicker-widget table td span.old {
  color: #777;
}

.bootstrap-datetimepicker-widget table td span.disabled {
  background: none;
  color: #777;
  cursor: not-allowed;
}

.bootstrap-datetimepicker-widget table td span.disabled:hover {
  background: none;
  color: #777;
  cursor: not-allowed;
}

.bootstrap-datetimepicker-widget.usetwentyfour td.hour {
  height: 27px;
  line-height: 27px;
}

.bootstrap-datetimepicker-widget .datepicker-decades .decade {
  line-height: 1.8em !important;
}

.input-group.date .input-group-addon {
  cursor: pointer;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

.afterContinueMain .afterContinue {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
}

.afterContinueMain .afterContinue .serviceImg {
  width: 170px;
  margin-right: 20px;
}

.afterContinueMain .afterContinue .serviceDetail {
  flex: 1;
  font-size: 14px;
  color: #545454;
  margin: 0;
  padding: 0;
  list-style: none;
}

.afterContinueMain .afterContinue .serviceDetail li {
  padding: 3px 12px;
  font-size: 13px;
  color: #545454;
  background: #eef2f4;
  border-radius: 3px;
  margin: 2px 0;
}

.afterContinueMain .afterContinue .serviceDetail li .labels {
  min-width: 105px;
  font-weight: 600;
  color: black;
  display: inline-block;
  font-size: 13px;
}

.afterContinueMain .afterContinue .serviceDetail li:first-child {
  background: none;
}

.afterContinueMain .afterContinue .serviceDetail li:last-child {
  font-size: 19px;
  font-weight: 700;
  color: #c83665;
}

.afterContinueMain .afterContinue .serviceDetail li h5 {
  color: #c83665;
}

/* Start Profile Settings */
.profileSetting {
  padding: 0;
}

.profileSetting .profileTitle {
  margin: 0;
  font-size: 24px;
  padding: 0 0 10px 0;
  border-bottom: #d7d7d7 2px solid;
  line-height: initial;
}

.profileSetting .profileTabList {
  padding: 20px 0 0 0;
}

.profileSetting .profileTabList a.nav-link {
  border: none;
  border-radius: 4px;
  display: block;
  padding: .5rem 1rem;
}

.profileSetting .profileTabList a.nav-link.active {
  background: #c83665;
  color: white;
}

.profileSetting .profileTabList .profileTabsColumn {
  padding-left: 15px;
}

@media only screen and (min-width: 769px) {
  .profileSetting .profileTabList .profileTabsColumn {
    flex-direction: column;
  }
}

.openFileBtn {
  position: relative;
  overflow: hidden;
}

.openFileBtn input[type=file] {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
  cursor: pointer;
}

.accountLinked {
  font-size: 0.93em;
  padding: 12px;
  background: white;
  border-radius: 3px;
  box-shadow: 0 1px 3px #e1e1e1;
  margin-top: 15px;
}

.accountLinked h3 {
  font-weight: 600;
  padding-bottom: 5px;
  display: inline-block;
  font-size: 1em;
  margin: 0;
  color: #545454;
}

.accountLinked h3 a {
  font-weight: normal;
  margin-left: 5px;
  font-size: small;
}

/* End Profile Settings */
.stage {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  padding: 0;
  margin: 0 -4%;
  overflow: hidden;
  height: 40px;
}

.dot-floating {
  position: relative;
  width: 10px;
  height: 10px;
  border-radius: 5px;
  background-color: white;
  color: white;
  animation: dot-floating 3s infinite cubic-bezier(0.15, 0.6, 0.9, 0.1);
}

.dot-floating::before, .dot-floating::after {
  content: '';
  display: inline-block;
  position: absolute;
  top: 0;
}

.dot-floating::before {
  left: -12px;
  width: 10px;
  height: 10px;
  border-radius: 5px;
  background-color: white;
  color: white;
  animation: dot-floating-before 3s infinite ease-in-out;
}

.dot-floating::after {
  left: -24px;
  width: 10px;
  height: 10px;
  border-radius: 5px;
  background-color: white;
  color: white;
  animation: dot-floating-after 3s infinite cubic-bezier(0.4, 0, 1, 1);
}

@keyframes dot-floating {
  0% {
    left: calc(-50% - 5px);
  }
  75% {
    left: calc(50% + 105px);
  }
  100% {
    left: calc(50% + 105px);
  }
}

@keyframes dot-floating-before {
  0% {
    left: -50px;
  }
  50% {
    left: -12px;
  }
  75% {
    left: -50px;
  }
  100% {
    left: -50px;
  }
}

@keyframes dot-floating-after {
  0% {
    left: -100px;
  }
  50% {
    left: -24px;
  }
  75% {
    left: -100px;
  }
  100% {
    left: -100px;
  }
}

/* Image viewer */
.imageViewer {
  text-align: center;
  position: relative;
  min-height: 72px;
  overflow: hidden;
  margin-bottom: 20px;
}

.imageViewer .imageViewerContainer {
  /* display: block; */
  margin: 0 auto;
  position: relative;
  display: inline-block;
  vertical-align: middle;
}

.imageViewer .imageViewerContainer.cursorZoomIn {
  cursor: zoom-in;
  max-height: 616px;
  max-width: 924px;
}

.imageViewer .imageViewerContainer.cursorZoomOut {
  cursor: zoom-out;
  max-width: 100%;
}

/* Image viewer */
.footerNav {
  text-align: right;
  font-size: 14px;
}

@media only screen and (max-width: 992px) {
  .footerNav {
    text-align: center;
  }
}

.footerNav a {
  padding: 0 8px;
  color: white;
}

.footerNav a:hover {
  color: #f59;
}

/**/
.blogCard {
  border: 0;
  margin-bottom: 30px;
  margin-top: 30px;
  border-radius: 6px;
  color: #545454;
  background: white;
  width: 100%;
  box-shadow: 0 1px 15px 0 rgba(0, 0, 0, 0.14);
  min-height: calc(100% - 60px);
}

.blogCard .card-header {
  margin: -30px 10px 0 10px;
  transition: all 0.3s cubic-bezier(0.34, 1.61, 0.7, 1);
  transform: translateZ(0);
  position: relative;
  padding: 0;
  z-index: 1;
  border-radius: 6px;
  height: 250px;
}

.blogCard .card-header a {
  position: absolute;
  left: 0;
  height: 100%;
  width: 100%;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  display: block;
  box-shadow: 0 5px 15px -8px rgba(0, 0, 0, 0.24), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
  border-radius: 6px;
}

.blogCard .card-body {
  padding: .9375rem 20px;
  position: relative;
}

.blogCard .card-body .card-description p {
  margin-bottom: 0;
  font-size: 13px;
}

.blogCard .card-footer {
  padding: 7px 0 0;
  margin: 0 15px 0;
  border-radius: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background: none;
  border-top: 1px solid #eef2f4;
}

.blogCard .card-footer .cardDate {
  font-size: 11px;
  color: #a1a1a1;
  margin-bottom: 8px;
}

.blogCard .card-footer .moreLink {
  display: inline-block;
  position: relative;
  top: -4px;
  color: #c83665;
  font-size: 14px;
}

.blogCard .card-footer .moreLink:hover, .blogCard .card-footer .moreLink:focus, .blogCard .card-footer .moreLink:active {
  color: #545454;
}

.blogCard .card-footer .moreLink i {
  vertical-align: -1px;
}

.blogCard:hover .card-header {
  transform: translate3d(0, -5px, 0);
}

/**/
.singleImageSocial::after {
  content: '';
  display: table;
  clear: both;
}

.singleImageSocial .singleImgShareIcon {
  width: 30px;
  height: 30px;
  display: inline-block;
  color: #fff;
  text-align: center;
  line-height: 30px;
  border-radius: 100px;
  margin: -6px 3px 0 3px;
  font-size: 16px;
  vertical-align: top;
  padding: 0;
  cursor: pointer;
}

.singleImageSocial .singleImgShareIcon:focus, .singleImageSocial .singleImgShareIcon:hover {
  color: #fff;
}

.singleImageSocial .singleImgShareIcon.iconFb {
  background: #3b5998;
}

.singleImageSocial .singleImgShareIcon.iconFb:hover {
  background: #32508d;
}

.singleImageSocial .singleImgShareIcon.iconTwt {
  background: #55acee;
}

.singleImageSocial .singleImgShareIcon.iconTwt:hover {
  background: #4197d8;
}

.singleImageSocial .singleImgShareIcon.iconGgp {
  background: #D74836;
  font-size: 19px;
}

.singleImageSocial .singleImgShareIcon.iconGgp:hover {
  background: #B9392A;
}

.singleImageSocial .singleImgShareIcon.iconPin {
  background: #bd081c;
}

.singleImageSocial .singleImgShareIcon.iconPin:hover {
  background: #800613;
}

.singleImageSocial .singleImgShareIcon.iconRdt {
  background: #f54b00;
  font-size: 18px;
}

.singleImageSocial .singleImgShareIcon.iconRdt:hover {
  background: #d44100;
}

/**/
.btn-bitbucket {
  color: white;
  background-color: #205081;
  border-color: rgba(0, 0, 0, 0.2);
}

.btn-bitbucket:hover, .btn-bitbucket:focus, .btn-bitbucket:active, .btn-bitbucket.active {
  color: white;
  background-color: #183c60;
  border-color: rgba(0, 0, 0, 0.2);
}

.btn-dropbox {
  color: white;
  background-color: #1087dd;
  border-color: rgba(0, 0, 0, 0.2);
}

.btn-dropbox:hover, .btn-dropbox:focus, .btn-dropbox:active, .btn-dropbox.active {
  color: white;
  background-color: #0d70b7;
  border-color: rgba(0, 0, 0, 0.2);
}

.btn-facebook {
  color: white;
  background-color: #3b5998;
  border-color: rgba(0, 0, 0, 0.2);
}

.btn-facebook:hover, .btn-facebook:focus, .btn-facebook:active, .btn-facebook.active {
  color: white;
  background-color: #30487b;
  border-color: rgba(0, 0, 0, 0.2);
}

.btn-flickr {
  color: white;
  background-color: #ff0084;
  border-color: rgba(0, 0, 0, 0.2);
}

.btn-flickr:hover, .btn-flickr:focus, .btn-flickr:active, .btn-flickr.active {
  color: white;
  background-color: #d6006f;
  border-color: rgba(0, 0, 0, 0.2);
}

.btn-github {
  color: white;
  background-color: #444;
  border-color: rgba(0, 0, 0, 0.2);
}

.btn-github:hover, .btn-github:focus, .btn-github:active, .btn-github.active {
  color: white;
  background-color: #303030;
  border-color: rgba(0, 0, 0, 0.2);
}

.btn-google-plus {
  color: white;
  background-color: #dd4b39;
  border-color: rgba(0, 0, 0, 0.2);
}

.btn-google-plus:hover, .btn-google-plus:focus, .btn-google-plus:active, .btn-google-plus.active {
  color: white;
  background-color: #ca3523;
  border-color: rgba(0, 0, 0, 0.2);
}

.btn-google-plus :first-child {
  font-size: 25px;
}

.btn-instagram {
  color: white;
  background-color: #cf2a7a;
  border-color: rgba(0, 0, 0, 0.2);
}

.btn-instagram:hover, .btn-instagram:focus, .btn-instagram:active, .btn-instagram.active {
  color: white;
  background-color: #b91665;
  border-color: rgba(0, 0, 0, 0.2);
}

.btn-linkedin {
  color: white;
  background-color: #007bb6;
  border-color: rgba(0, 0, 0, 0.2);
}

.btn-linkedin:hover, .btn-linkedin:focus, .btn-linkedin:active, .btn-linkedin.active {
  color: white;
  background-color: #005f8d;
  border-color: rgba(0, 0, 0, 0.2);
}

.btn-pinterest {
  color: white;
  background-color: #cb2027;
  border-color: rgba(0, 0, 0, 0.2);
}

.btn-pinterest:hover, .btn-pinterest:focus, .btn-pinterest:active, .btn-pinterest.active {
  color: white;
  background-color: #a81a20;
  border-color: rgba(0, 0, 0, 0.2);
}

.btn-tumblr {
  color: white;
  background-color: #2c4762;
  border-color: rgba(0, 0, 0, 0.2);
}

.btn-tumblr:hover, .btn-tumblr:focus, .btn-tumblr:active, .btn-tumblr.active {
  color: white;
  background-color: #1f3346;
  border-color: rgba(0, 0, 0, 0.2);
}

.btn-twitter {
  color: white;
  background-color: #2ba9e1;
  border-color: rgba(0, 0, 0, 0.2);
}

.btn-twitter:hover, .btn-twitter:focus, .btn-twitter:active, .btn-twitter.active {
  color: white;
  background-color: #1c92c7;
  border-color: rgba(0, 0, 0, 0.2);
}

.btn-vk {
  color: white;
  background-color: #587ea3;
  border-color: rgba(0, 0, 0, 0.2);
}

.btn-vk:hover, .btn-vk:focus, .btn-vk:active, .btn-vk.active {
  color: white;
  background-color: #4a6a89;
  border-color: rgba(0, 0, 0, 0.2);
}

/**/
.singlePost .singlePostImageMain {
  position: relative;
  height: 500px;
  margin-bottom: 20px;
}

.singlePost .singlePostImageMain .singlePostImage {
  position: absolute;
  left: 0;
  height: 100%;
  width: 100%;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  display: block;
  box-shadow: 0 5px 15px -8px rgba(0, 0, 0, 0.24), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
  border-radius: 6px;
}

.singlePost h3 {
  font-size: 25px;
  font-weight: 700;
  color: black;
  margin-bottom: 4px;
}

.singlePost .singlePostDate {
  font-size: 12px;
  color: #6e6e6e;
  margin-bottom: 15px;
}

.singlePost .singlePostDesc {
  font-size: 14px;
  line-height: 18px;
  color: #545454;
}

.singlePost .singlePostDesc p {
  font-size: 14px;
  line-height: 20px;
  color: #545454;
  margin-bottom: 10px;
}

.StripeElement {
  box-sizing: border-box;
  height: 40px;
  padding: 10px 12px;
  border: 1px solid transparent;
  border-radius: 4px;
  background-color: white;
  box-shadow: 0 1px 3px 0 #e6ebf1;
  transition: box-shadow 150ms ease;
  position: relative;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  background: none;
  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.1);
  color: rgba(0, 0, 0, 0.8);
}

.StripeElement--focus {
  box-shadow: 0 1px 3px 0 #cfd7df;
}

.StripeElement--invalid {
  border-color: #fa755a;
}

.StripeElement--webkit-autofill {
  background-color: #fefde5 !important;
}

/**/
.selectAgentMain {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: stretch;
}

.selectAgentMain .agentItem {
  margin-bottom: 0%;
  margin-top: 2%;
  flex: 0 0 18%;
  margin-left: 2%;
  cursor: pointer;
  user-select: none;
}

.selectAgentMain .agentItem:nth-child(1), .selectAgentMain .agentItem:nth-child(2), .selectAgentMain .agentItem:nth-child(3), .selectAgentMain .agentItem:nth-child(4), .selectAgentMain .agentItem:nth-child(5) {
  margin-top: 0px;
}

.selectAgentMain .agentItem:first-child {
  margin-left: auto;
}

.selectAgentMain .agentItem:nth-child(5n+1) {
  margin-left: 0px;
}

.selectAgentMain .agentItem:last-child {
  margin-right: auto;
}

.selectAgentMain .agentItem.agentsAnim:hover .agentItemInner .avatar {
  transform-origin: center center;
  transform: translateY(-8px) scale(0.9);
}

.selectAgentMain .agentItem.agentsAnim:hover .agentItemInner .avatarName {
  transform: translateY(-14px);
}

.selectAgentMain .agentItem.agentsAnim:hover .agentItemInner .viewDetail {
  opacity: 1;
  transform: translateY(-12px);
}

.selectAgentMain .agentItem .agentItemInner {
  position: relative;
  height: 100%;
  border-radius: 4px;
  display: block;
  padding: 10px;
  background: #FFFFFF;
  border: 2px solid #E5E7EE;
  box-shadow: none;
  outline: none;
  color: #1f222b;
  text-decoration: none;
  transition: all 0.2s ease-in-out;
}

.selectAgentMain .agentItem .agentItemInner:hover {
  border-color: #4b64e8;
}

.selectAgentMain .agentItem .avatar {
  padding: 2px 15px 2px;
  height: auto;
  margin: 0px;
  transition: all 0.2s ease-in-out;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  text-align: center;
  display: block;
}

.selectAgentMain .agentItem .avatar .avatarBg {
  background-size: cover;
  background-position: center center;
  padding-bottom: 100%;
  border-radius: 50%;
}

.selectAgentMain .agentItem .avatarName {
  transition: all 0.2s ease-in-out;
  position: relative;
  padding: 5px 0px;
  font-weight: 400;
  font-size: 14px;
  text-align: center;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  max-width: 75px;
  margin: 0 auto;
}

.selectAgentMain .agentItem .viewDetail {
  cursor: pointer;
  font-size: 12px;
  color: white;
  padding: 5px 0px;
  font-weight: 500;
  cursor: pointer;
  opacity: 0;
  position: absolute;
  bottom: -5px;
  left: 0px;
  right: 0px;
  max-width: 100%;
  z-index: 1;
  border: none;
  color: #2d54de;
  transition: all 0.2s ease-in-out;
  text-align: center;
}

.selectAgentMain .agentItem .viewDetail span {
  border-bottom: 1px dotted rgba(45, 84, 222, 0.5);
}

.selectAgentMain .agentItem .viewDetail span:hover {
  border-bottom-style: solid;
  color: #2148d1;
}

.selectAgentMain .agentItem input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.selectAgentMain .agentItem input:checked ~ .agentItemInner {
  border-color: #4b64e8;
}

.selectAgentMain .agentItem input[type="radio"][disabled] + .agentItemInner {
  position: relative;
  border: 2px solid #ECEEF5;
}

.selectAgentMain .agentItem input[type="radio"][disabled] + .agentItemInner:after {
  content: 'Booked';
  font-size: 12px;
  font-weight: 600;
  color: #c83665;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  opacity: 1;
  z-index: 0;
  background: white;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.4);
  border-radius: 3px;
  padding: 2px 7px;
}

.selectAgentMain .agentItem input[type="radio"][disabled] + .agentItemInner:hover {
  border: 2px solid #ECEEF5;
}

.selectAgentMain .agentItem input[type="radio"][disabled] + .agentItemInner .avatar {
  opacity: 0.5;
  transform-origin: center center;
  transform: initial;
}

.selectAgentMain .agentItem input[type="radio"][disabled] + .agentItemInner .avatarName {
  opacity: 0.5;
  transform: initial;
}

.selectAgentMain .agentItem input[type="radio"][disabled] + .agentItemInner .viewDetail {
  display: none;
  transform: initial;
}

.agentModal {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 2;
  background-color: #f0f0f0;
  box-shadow: 0 10px 30px 0 rgba(0, 0, 0, 0.051);
  border-radius: 5px;
  cursor: default;
  overflow: auto;
  animation: 0.4s cubic-bezier(0.45, 1.3, 0.6, 1) 0s both agentBio;
  display: none;
}

.agentModal.active {
  display: block;
}

.agentModal .agentModalInner {
  position: relative;
}

.agentModal .agentModalInner .closeModalBtn {
  position: absolute;
  top: 0px;
  right: 0px;
  background-color: #c83665;
  color: white;
  padding: 10px;
  font-size: 12px;
  font-weight: 500;
  z-index: 9999;
  cursor: pointer;
}

.agentModal .agentModalInner .closeModalBtn:hover {
  background-color: #ce4a74;
}

.agentModal .agentModalInner .agentModalHeader {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.agentModal .agentModalInner .agentModalHeader img {
  width: 100px;
  height: 100px;
  margin-bottom: 6px;
}

.agentModal .agentModalInner .agentModalHeader h3 {
  font-size: 20px;
  font-weight: 700;
  color: black;
}

.agentModal .agentModalInner .userColumns {
  padding: 15px;
  background: #eaeaea;
  margin: 0 20px;
  border-radius: 5px;
}

.agentModal .agentModalInner .userColumns h4 {
  font-size: 25px;
  color: #c83665;
  font-weight: 600;
  margin: 0;
  line-height: 1;
}

.agentModal .agentModalInner .userColumns span {
  color: #6b7082;
  font-size: 12px;
  font-weight: 300;
}

.agentModal .agentModalInner .agentDetails {
  font-size: 15px;
  line-height: 19px;
  color: black;
  margin: 20px;
}
.agentModal .agentModalInner .agentDetails p{
  font-size: 15px;
  line-height: 19px;
  color: black;
}

@keyframes agentBio {
  0% {
    transform: scale(0.8);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

.paypal-button-container, #zoid-paypal-buttons-a91a206aaf_mti6ndq6mzq {
  max-width: 100% !important;
}

/* loader for paypal */
.loading {
  position: fixed;
  z-index: 999;
  height: 2em;
  width: 2em;
  overflow: show;
  margin: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.loading:before {
  content: '';
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: radial-gradient(rgba(20, 20, 20, 0.8), rgba(0, 0, 0, 0.8));
  background: -webkit-radial-gradient(rgba(20, 20, 20, 0.8), rgba(0, 0, 0, 0.8));
}

.loading:not(:required) {
  /* hide "loading..." text */
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}

.quotationText {
  word-break: normal;
  font-weight: 400;
  font-size: 15px;
}

.loading:not(:required):after {
  content: '';
  display: block;
  font-size: 10px;
  width: 1em;
  height: 1em;
  margin-top: -0.5em;
  animation: spinner 150ms infinite linear;
  border-radius: 0.5em;
  box-shadow: rgba(255, 255, 255, 0.75) 1.5em 0 0 0, rgba(255, 255, 255, 0.75) 1.1em 1.1em 0 0, rgba(255, 255, 255, 0.75) 0 1.5em 0 0, rgba(255, 255, 255, 0.75) -1.1em 1.1em 0 0, rgba(255, 255, 255, 0.75) -1.5em 0 0 0, rgba(255, 255, 255, 0.75) -1.1em -1.1em 0 0, rgba(255, 255, 255, 0.75) 0 -1.5em 0 0, rgba(255, 255, 255, 0.75) 1.1em -1.1em 0 0;
}

/* Animation */
@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
/*# sourceMappingURL=style.css.map */